{%- comment %}<locksmith:8c80>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:8c80>{% endcomment -%}

<!doctype html>

<html lang="en">
<head>
  {{ locksmith_initializations }}
  
  <!--- Hyros --->
  <script>
  var head = document.head;
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = "https://t.pudgypenguins.com/v1/lst/universal-script?ph=afee9d7384ff578e25f9153792e0c2b259916f5f66fa68f9d099a61061b17869&tag=!clicked&origin=SHOPIFY&embed=true&ref_url=" + encodeURI(document.URL) ;
  head.appendChild(script);
  </script>
  
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {%- comment %}<locksmith:5697>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description }}">{% endif -%}
    {%- comment %}original: <meta name="description" content="{{ page_description }}">{%- endcomment %}
  {%- comment %}</locksmith:5697>{% endcomment -%}
  <link rel="canonical" href="{{ canonical_url }}">


  <!--- Facebook --->
  {%- comment %}<locksmith:c6c7>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:description" content="{{ page_description }}"/>{% endif -%}
    {%- comment %}original: <meta property="og:description" content="{{ page_description }}"/>{%- endcomment %}
  {%- comment %}</locksmith:c6c7>{% endcomment -%}
  {%- comment %}<locksmith:dc0a>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:image" content="{{ settings.share_image | img_url: '1200x600' }}"/>{% endif -%}
    {%- comment %}original: <meta property="og:image" content="{{ settings.share_image | img_url: '1200x600' }}"/>{%- endcomment %}
  {%- comment %}</locksmith:dc0a>{% endcomment -%}
  <meta property="og:site_name" content="Pudgy Brand"/>
  {%- comment %}<locksmith:02f7>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:title" content="{{ page_title }}"/>{% endif -%}
    {%- comment %}original: <meta property="og:title" content="{{ page_title }}"/>{%- endcomment %}
  {%- comment %}</locksmith:02f7>{% endcomment -%}
  {%- comment %}<locksmith:2c0f>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta property="og:type" content="website"/>{% endif -%}
    {%- comment %}original: <meta property="og:type" content="website"/>{%- endcomment %}
  {%- comment %}</locksmith:2c0f>{% endcomment -%}
  <meta property="og:url" content="{{ canonical_url }}"/>

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:creator" content=""/>
  {%- comment %}<locksmith:b95d>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:description" content="{{ page_description }}"/>{% endif -%}
    {%- comment %}original: <meta name="twitter:description" content="{{ page_description }}"/>{%- endcomment %}
  {%- comment %}</locksmith:b95d>{% endcomment -%}
  {%- comment %}<locksmith:90a9>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:image" content="{{ settings.share_image | img_url: '1200x600' }}"/>{% endif -%}
    {%- comment %}original: <meta name="twitter:image" content="{{ settings.share_image | img_url: '1200x600' }}"/>{%- endcomment %}
  {%- comment %}</locksmith:90a9>{% endcomment -%}
  <meta name="twitter:site" content="{{ canonical_url }}"/>
  {%- comment %}<locksmith:fa83>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="twitter:title" content="{{ page_title }}"/>{% endif -%}
    {%- comment %}original: <meta name="twitter:title" content="{{ page_title }}"/>{%- endcomment %}
  {%- comment %}</locksmith:fa83>{% endcomment -%}

  {%- if request.page_type == 'product' -%}
    {%- comment %}<locksmith:2656>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{% endif -%}
      {%- comment %}original: <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">{%- endcomment %}
    {%- comment %}</locksmith:2656>{% endcomment -%}
    {%- comment %}<locksmith:dca9>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'access_granted' %}{% endcapture %}{% if var == 'true' %}<meta property="og:price:currency" content="{{ cart.currency.iso_code }}">{% endif -%}
      {%- comment %}original: <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">{%- endcomment %}
    {%- comment %}</locksmith:dca9>{% endcomment -%}
  {%- endif -%}

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">


  <link rel="icon" type="image/png" sizes="32x32" href="https:{{ settings.favicon | image_url: width: 32 }}"/>
  <link rel="icon" type="image/png" sizes="57x57" href="https:{{ settings.favicon | image_url: width: 57 }}"/>
  <link rel="icon" type="image/png" sizes="76x76" href="https:{{ settings.favicon | image_url: width: 76 }}"/>
  <link rel="icon" type="image/png" sizes="96x96" href="https:{{ settings.favicon | image_url: width: 96 }}"/>
  <link rel="icon" type="image/png" sizes="128x128" href="https:{{ settings.favicon | image_url: width: 128 }}"/>
  <link rel="icon" type="image/png" sizes="192x192" href="https:{{ settings.favicon | image_url: width: 192 }}"/>

  <link rel="icon" type="image/png" sizes="196x196" href="https:{{ settings.favicon | image_url: width: 196 }}"/>

  <link rel="apple-touch-icon" sizes="120x120" href="https:{{ settings.favicon | image_url: width: 120 }}"/>
  <link rel="apple-touch-icon" sizes="152x152" href="https:{{ settings.favicon | image_url: width: 152 }}"/>
  <link rel="apple-touch-icon" sizes="180x180" href="https:{{ settings.favicon | image_url: width: 180 }}"/>

  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF"/>
  <meta name="msapplication-TileImage" content="{{ settings.favicon | image_url: width: 144 }}"/>
  <meta name="msapplication-square70x70logo" content="{{ settings.favicon | image_url: width: 70 }}"/>
  <meta name="msapplication-square150x150logo" content="{{ settings.favicon | image_url: width: 150 }}"/>
  <meta name="msapplication-wide310x150logo" content="{{ settings.favicon | image_url: width: 310, height: 150 }}"/>
  <meta name="msapplication-square310x310logo" content="{{ settings.favicon | image_url: width: 310 }}"/>

  <style>
    @media (max-width: 767px) {
    	.storeify-header-inner {
    		flex-wrap: wrap;
    	}
    }
  </style>
  {{ '_init.css' | asset_url | stylesheet_tag }}
  {{ '_fonts.css' | asset_url | stylesheet_tag }}
  <script>
    const url = "https:{{ 'image-load.js' | asset_url }}"
    const content = `importScripts( "${ url }" );`;
    window.workerUrl = URL.createObjectURL( new Blob( [ content ], { type: "text/javascript" } ) );
  </script>
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=6f102279"></script>

  <script>
  !function(){var o=window.tdl=window.tdl||[];if(o.invoked)window.console&&console.error&&console.error("Tune snippet has been included more than once.");else{o.invoked=!0,o.methods=["init","identify","convert"],o.factory=function(n){return function(){var e=Array.prototype.slice.call(arguments);return e.unshift(n),o.push(e),o}};for(var e=0;e<o.methods.length;e++){var n=o.methods[e];o[n]=o.factory(n)}o.init=function(e){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://js.go2sdk.com/v2/tune.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(n,t),o.domain=e}}}();
  
  tdl.init("https://glitchy.go2cloud.org")
  tdl.identify(
    {},
    {
      'aff_unique1':'{{ product.id }}',
      'aff_sub': '{{ product.type }}',
    }
  )
  </script>


{% comment %} Please do not edit this section. It is automatically generated by Videowise{% endcomment %}
	<link rel="stylesheet" href="https://doui4jqs03un3.cloudfront.net/style.css.gz">
	<script src="https://doui4jqs03un3.cloudfront.net/vendors.js.gz"></script>
	<script src="https://doui4jqs03un3.cloudfront.net/client.js.gz" defer="defer"></script>
{% comment %} End Videowise section.{% endcomment %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RK44BEB5CP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RK44BEB5CP');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TGHCWL4');</script>
<!-- End Google Tag Manager -->

</head>
<body>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGHCWL4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="global-mask" data-url="https://cdn.shopify.com/s/files/1/0649/5646/5395/files/loader-desktop.jpg?v=1691874771" data-url-mobile="https://cdn.shopify.com/s/files/1/0649/5646/5395/files/loader-mobile.jpg?v=1691874770">
  <img alt="A dreamy cloudscape while wait" loading="eager" decoding="async">
</div>
<header id="header">
  <div class="pencil-bar gradiant-marquee">
    <div class="inner" data-dur="25" data-mobile-dur="10">
      <div class="group">
        {% if settings.pencil_bar_link == blank and settings.pencil_bar_message != blank %}
          <p>{{ settings.pencil_bar_message }}</p>
        {% elsif settings.pencil_bar_link != blank %}
          <a target="_blank" href="{{ settings.pencil_bar_link }}">{{ settings.pencil_bar_message }}</a>
        {% endif %}
      </div>
      <div class="group" aria-hidden="true">
        {% if settings.pencil_bar_link == blank and settings.pencil_bar_message != blank %}
          <p>{{ settings.pencil_bar_message }}</p>
        {% elsif settings.pencil_bar_link != blank %}
          <a target="_blank" href="{{ settings.pencil_bar_link }}">{{ settings.pencil_bar_message }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="pencil-bar giveaway">
    <div class="inner" data-dur="25" data-mobile-dur="10">
      <div class="group">
        {% if settings.pencil_bar_link_g == blank and settings.pencil_bar_message_g != blank %}
          <p>{{ settings.pencil_bar_message_g }}</p>
        {% elsif settings.pencil_bar_link_g != blank %}
          <a target="_blank" href="{{ settings.pencil_bar_link_g }}">{{ settings.pencil_bar_message_g }}</a>
        {% endif %}
      </div>
      <div class="group" aria-hidden="true">
        {% if settings.pencil_bar_link_g == blank and settings.pencil_bar_message_g != blank %}
          <p>{{ settings.pencil_bar_message_g }}</p>
        {% elsif settings.pencil_bar_link_g != blank %}
          <a target="_blank" href="{{ settings.pencil_bar_link_g }}">{{ settings.pencil_bar_message_g }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <nav id="nav" class="max-width">
    <a class="logo mw prefetch-us" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="149" height="83" viewBox="0 0 149 83" fill="none">
        <g clip-path="url(#clip0_1321_882)">
          <path d="M129.405 8.49005L125.845 12.0822L125.059 7.18115C124.887 6.09311 124.582 5.16098 124.15 4.375L129.408 8.49005H129.405Z" fill="#477DFD"/>
          <path d="M136.547 32.9497L134.264 42.9206C133.906 44.616 133.172 46.3666 132.01 47.5716C130.041 49.6697 126.426 49.9685 124.085 48.1627L118.706 43.9242C118.901 43.9762 119.103 44.0249 119.31 44.0607C119.444 44.0834 119.57 44.1029 119.7 44.1191C119.986 44.1548 120.265 44.1711 120.541 44.1711C121.961 44.1711 123.273 43.7164 124.384 42.8395C125.803 41.7124 126.816 39.9521 127.313 37.7533L129.648 27.5518L136.547 32.9497Z" fill="#477DFD"/>
          <path d="M146.816 20.3444L146.67 20.5295L136.764 32.5433L129.882 27.1616L139.775 15.1673C140.727 14.0175 141.425 12.5267 141.626 11.6466C141.974 10.1071 141.792 8.61307 141.123 7.36914L146.641 11.6693C147.716 12.4878 148.362 13.6602 148.515 15.0601C148.71 16.8529 148.057 18.8796 146.813 20.3444H146.816Z" fill="#477DFD"/>
          <path d="M141.188 11.543C140.999 12.3712 140.334 13.7808 139.427 14.872L129.262 27.1977L126.871 37.6461C126.394 39.7474 125.439 41.4168 124.101 42.4821C122.876 43.4532 121.373 43.8592 119.758 43.6643C119.635 43.6481 119.512 43.6319 119.388 43.6091C117.816 43.3298 116.572 42.5601 115.786 41.3811C114.805 39.9098 114.568 37.9091 115.091 35.5934L117.124 26.6163L113.159 10.2698C111.759 5.60588 115.146 1.05238 119.879 1.9423C120.879 2.11768 121.723 2.47819 122.425 3.03032C123.578 3.93648 124.309 5.34605 124.611 7.25255L125.397 12.1763L125.582 13.102L126.108 12.4621L130.226 8.31135C132.604 5.58315 134.371 4.61854 136.534 4.88486C138.18 5.07648 139.671 5.92742 140.503 7.19734C141.305 8.40554 141.552 9.94827 141.191 11.5462L141.188 11.543Z" fill="#F5FDFF"/>
          <path d="M148.97 15.0083C148.801 13.4818 148.096 12.1989 146.92 11.309L139.782 5.74863C138.999 5.11855 138.031 4.68009 136.943 4.48846C136.826 4.46573 136.706 4.44949 136.589 4.43649C134.286 4.15393 132.182 5.35564 129.729 8.16829L122.86 2.79308C122.081 2.13701 121.119 1.70179 119.963 1.49717C114.887 0.555292 111.249 5.39786 112.72 10.3833L116.66 26.6291L114.653 35.4991C114.101 37.9382 114.364 40.0623 115.413 41.6375C115.867 42.3196 116.452 42.8717 117.163 43.2874L123.812 48.523C126.404 50.5302 130.541 50.1372 132.607 47.5876C133.552 46.532 134.172 45.0802 134.552 43.7226L137.014 32.9657L147.177 20.6433L147.317 20.4582C148.392 19.1038 149.012 17.3435 149.012 15.6903C149.012 15.463 149.002 15.2324 148.976 15.0115L148.97 15.0083ZM129.405 8.48983L125.845 12.082L125.059 7.18093C124.887 6.0929 124.582 5.16077 124.15 4.37478L129.408 8.48983H129.405ZM115.786 41.3809C114.805 39.9097 114.568 37.909 115.091 35.5932L117.124 26.6162L113.159 10.2697C111.759 5.60572 115.146 1.05222 119.879 1.94214C120.879 2.11752 121.723 2.47803 122.425 3.03016C123.578 3.93632 124.309 5.34589 124.611 7.25239L125.397 12.1761L125.582 13.1018L126.108 12.462L130.226 8.31119C132.604 5.58299 134.371 4.61838 136.534 4.8847C138.18 5.07633 139.671 5.92726 140.503 7.19718C141.305 8.40538 141.552 9.94811 141.191 11.5461C141.003 12.3743 140.337 13.7838 139.431 14.8751L129.265 27.2008L126.875 37.6491C126.397 39.7505 125.442 41.4199 124.104 42.4852C122.88 43.4563 121.376 43.8623 119.762 43.6674C119.638 43.6512 119.515 43.635 119.391 43.6122C117.819 43.3329 116.576 42.5632 115.79 41.3842L115.786 41.3809ZM134.263 42.9204C133.906 44.6158 133.172 46.3664 132.009 47.5714C130.041 49.6695 126.426 49.9683 124.085 48.1625L118.706 43.924C118.901 43.976 119.102 44.0247 119.31 44.0604C119.443 44.0832 119.57 44.1026 119.7 44.1189C119.986 44.1546 120.265 44.1708 120.541 44.1708C121.96 44.1708 123.273 43.7161 124.383 42.8392C125.803 41.7122 126.816 39.9519 127.313 37.7531L129.648 27.5515L136.547 32.9495L134.263 42.9204ZM146.816 20.3445L146.67 20.5297L136.764 32.5435L129.882 27.1618L139.775 15.1674C140.727 14.0177 141.425 12.5269 141.626 11.6467C141.974 10.1073 141.792 8.61325 141.123 7.36931L146.641 11.6695C147.716 12.4879 148.362 13.6604 148.515 15.0603C148.71 16.8531 148.057 18.8797 146.813 20.3445H146.816Z" fill="#00142D"/>
          <path d="M120.168 18.409C120.444 19.3866 120.577 20.4357 120.551 21.5432C120.499 23.6868 119.817 25.5478 118.579 26.9217C118.053 27.503 117.43 27.9902 116.731 28.3767L115.923 31.9526L117.391 32.6996V32.7093C117.758 32.9205 118.099 33.1738 118.401 33.4758C119.593 34.6548 120.19 36.4509 120.138 38.6822L120.025 43.3104C120.025 43.4403 120.012 43.5637 120.002 43.6904C121.525 43.8203 122.941 43.4111 124.104 42.4887C125.442 41.4266 126.4 39.7572 126.874 37.6526L129.265 27.2042L120.171 18.4058L120.168 18.409Z" fill="#DBE3E5"/>
          <path d="M106.202 40.2477C106.244 40.4134 106.835 40.9038 106.939 40.9103C107.689 40.959 108.67 40.1828 108.608 39.413L108.729 34.1612L106.124 32.8296C106.208 33.5604 105.695 39.7475 106.202 40.2445V40.2477Z" fill="#00142D"/>
          <path d="M107.722 21.7249C107.313 21.7963 106.985 21.9977 106.754 22.3127C106.527 22.6213 106.403 23.0403 106.39 23.5177L106.299 27.2463L110.164 29.1722C109.771 28.9774 109.411 28.6948 109.102 28.3018L109.18 23.1117C109.19 22.709 109.109 22.2575 108.742 22.0757L107.991 21.7021C107.943 21.7021 107.897 21.7021 107.849 21.7021C107.806 21.7054 107.764 21.7119 107.722 21.7216V21.7249Z" fill="#00142D"/>
          <path d="M115.013 31.9981C114.497 31.9526 113.945 31.9558 113.37 32.0175C111.853 32.1994 109.719 32.6119 108.69 34.1189C108.69 34.1254 108.68 34.1287 108.68 34.1352L106.286 32.914L106.416 27.6167L115.017 31.9981H115.013Z" fill="#477DFD"/>
          <path d="M112.935 11.9521C111.392 11.6078 109.684 11.5233 107.881 11.7182C98.8649 12.7348 94.516 19.5228 94.1685 32.589C94.0159 38.9223 94.8636 43.7714 96.6954 46.9965C97.0461 47.6169 97.4391 48.1722 97.8581 48.6594C97.1111 48.2729 96.2764 47.8507 95.3865 47.409C91.0636 45.2394 85.6819 42.5372 84.6588 40.621C82.3106 36.9736 81.7097 28.1881 82.5022 22.1244C82.9991 16.3172 85.1654 11.5396 88.6049 8.67822C91.3819 6.36574 94.8408 5.39463 98.9104 5.78762H98.9689C101.629 5.78762 108.712 9.62659 112.938 11.9553L112.935 11.9521Z" fill="#477DFD"/>
          <path d="M118.076 33.794C119.177 34.8788 119.729 36.5611 119.677 38.6658L119.567 43.294C119.486 46.5873 117.586 49.0427 114.728 49.5494C112.038 50.017 110.83 48.7894 108.878 48.0164C107.673 49.5494 106.046 50.5237 104.188 50.7056C102.792 50.8582 101.515 50.6406 100.382 50.0755C100.067 49.9229 99.8003 49.767 99.4788 49.5266C98.5597 48.8705 97.7574 47.9514 97.0884 46.7724C95.302 43.6188 94.4706 38.8509 94.6232 32.5988C94.9805 18.9512 99.7873 12.2379 109.765 12.0723C111.86 12.0723 113.763 12.4847 115.345 13.274C115.406 13.3064 115.465 13.3357 115.52 13.3682C115.997 13.615 116.442 13.9008 116.855 14.2191C119.018 15.9015 120.168 18.4965 120.093 21.5268C120.041 23.56 119.401 25.317 118.235 26.6129C117.199 27.7659 115.754 28.5324 114.062 28.8312C113.86 28.867 113.656 28.8962 113.441 28.9189C112.016 29.0716 110.249 29.2632 109.229 28.107L109.346 23.3066C109.359 22.6863 109.193 22.1991 108.865 21.8938C108.579 21.634 108.183 21.5235 107.719 21.5755C107.67 21.5755 107.621 21.5853 107.579 21.5918C107.118 21.6729 106.731 21.9068 106.465 22.2673C106.212 22.6116 106.072 23.0728 106.059 23.5989L105.672 39.442C105.659 40.0623 105.825 40.5495 106.153 40.8548C106.439 41.1147 106.835 41.2283 107.303 41.1796C107.348 41.1731 107.394 41.1699 107.436 41.1601C108.365 40.9945 108.937 40.2442 108.963 39.1497C109.762 40.0948 110.928 40.634 112.145 40.634C112.532 40.634 112.918 40.5755 113.302 40.4651C113.422 40.4326 113.49 40.3059 113.454 40.1858C113.422 40.0656 113.295 39.9974 113.175 40.0299C111.554 40.4976 109.83 39.8155 108.969 38.3735L108.95 38.341C108.784 38.0617 108.657 37.7726 108.576 37.4835C108.268 36.4182 108.446 35.288 109.07 34.3818C109.995 33.0242 111.996 32.6442 113.425 32.4721C115.38 32.261 116.988 32.7189 118.079 33.7972L118.076 33.794Z" fill="#F5FDFF"/>
          <path d="M117.381 32.706V32.6963L110.999 29.4419C111.83 29.5491 112.711 29.4549 113.497 29.3672C113.714 29.3445 113.932 29.312 114.143 29.2763C115.936 28.958 117.469 28.1427 118.576 26.9151C119.814 25.538 120.496 23.6802 120.548 21.5366C120.626 18.3569 119.414 15.632 117.134 13.8586C116.68 13.5079 116.189 13.1961 115.66 12.9265C115.186 12.6732 114.516 12.3062 113.747 11.8807C109.557 9.56821 101.749 5.2648 98.9235 5.33301C94.7532 4.92702 91.1838 5.93711 88.3094 8.32754C84.7758 11.2669 82.5542 16.1516 82.0443 22.0757C81.2453 28.2077 81.8689 37.1361 84.2626 40.8484C85.3474 42.8783 90.8006 45.613 95.1819 47.8151C96.7279 48.5913 98.1212 49.2896 99.1541 49.8677C100.362 50.7576 101.762 51.2091 103.321 51.2091C105.52 51.2253 107.53 50.3321 109.002 48.5751C110.915 49.3675 112.071 50.4621 114.809 49.9976C117.891 49.4487 119.937 46.8245 120.022 43.307L120.135 38.6788C120.187 36.4475 119.586 34.6515 118.398 33.4725C118.096 33.1737 117.755 32.9204 117.384 32.706H117.381ZM115.013 31.998C114.497 31.9525 113.945 31.9557 113.37 32.0174C111.853 32.1993 109.719 32.6118 108.69 34.1188C107.995 35.1354 107.793 36.4086 108.138 37.6038C108.225 37.9123 108.355 38.2176 108.524 38.5099L108.511 39.1303C108.488 40.0104 108.069 40.5788 107.358 40.7055C107.326 40.712 107.29 40.7152 107.257 40.7217C106.92 40.7575 106.653 40.686 106.465 40.5139C106.234 40.3027 106.117 39.9325 106.13 39.4486L106.42 27.6133L115.02 31.9947L115.013 31.998ZM108.823 28.3344L106.423 27.1132L106.507 23.612C106.517 23.1768 106.631 22.8065 106.826 22.5369C107.027 22.2674 107.303 22.0985 107.654 22.04C107.689 22.0303 107.725 22.0303 107.764 22.0238C108.099 21.988 108.365 22.0563 108.553 22.2316C108.784 22.4428 108.901 22.8163 108.888 23.2969L108.768 28.2727L108.82 28.3376L108.823 28.3344ZM95.3865 47.4091C91.0636 45.2395 85.6819 42.5373 84.6589 40.621C82.3106 36.9737 81.7098 28.1882 82.5023 22.1245C82.9992 16.3173 85.1655 11.5397 88.605 8.6783C91.3819 6.36582 94.8409 5.39471 98.9105 5.78771H98.9689C101.629 5.78771 108.713 9.62668 112.938 11.9554C111.395 11.6111 109.687 11.5267 107.884 11.7215C98.8683 12.7381 94.5194 19.5262 94.1718 32.5923C94.0192 38.9257 94.8669 43.7747 96.6987 46.9998C97.0495 47.6202 97.4424 48.1756 97.8614 48.6627C97.1144 48.2762 96.2797 47.854 95.3898 47.4123L95.3865 47.4091ZM119.567 43.294C119.486 46.5874 117.586 49.0427 114.728 49.5494C112.038 50.0171 110.83 48.7894 108.878 48.0164C107.673 49.5494 106.046 50.5238 104.188 50.7057C102.792 50.8583 101.515 50.6407 100.382 50.0756C100.067 49.9229 99.8004 49.767 99.4789 49.5267C98.5597 48.8706 97.7575 47.9515 97.0884 46.7725C95.3021 43.6188 94.4706 38.851 94.6233 32.5988C94.9806 18.9513 99.7874 12.238 109.765 12.0723C111.86 12.0723 113.763 12.4848 115.345 13.274C115.406 13.3065 115.465 13.3357 115.52 13.3682C115.997 13.6151 116.442 13.9009 116.855 14.2192C119.018 15.9015 120.168 18.4966 120.093 21.5268C120.041 23.56 119.401 25.3171 118.235 26.613C117.199 27.766 115.754 28.5325 114.062 28.8313C113.86 28.867 113.656 28.8963 113.441 28.919C112.016 29.0716 110.249 29.2633 109.229 28.107L109.346 23.3067C109.359 22.6863 109.193 22.1992 108.865 21.8939C108.579 21.634 108.183 21.5236 107.719 21.5756C107.67 21.5756 107.621 21.5853 107.579 21.5918C107.118 21.673 106.731 21.9068 106.465 22.2674C106.212 22.6116 106.072 23.0728 106.059 23.599L105.673 39.4421C105.66 40.0624 105.825 40.5496 106.153 40.8549C106.439 41.1147 106.835 41.2284 107.303 41.1797C107.348 41.1732 107.394 41.1699 107.436 41.1602C108.365 40.9945 108.937 40.2443 108.963 39.1498C109.762 40.0949 110.928 40.634 112.146 40.634C112.532 40.634 112.919 40.5756 113.302 40.4651C113.422 40.4327 113.49 40.306 113.454 40.1858C113.422 40.0657 113.295 39.9974 113.175 40.0299C111.554 40.4976 109.83 39.8156 108.969 38.3735L108.95 38.341C108.784 38.0617 108.657 37.7727 108.576 37.4836C108.268 36.4183 108.446 35.288 109.07 34.3819C109.995 33.0243 111.996 32.6443 113.425 32.4722C115.38 32.261 116.988 32.719 118.079 33.7973C119.18 34.8821 119.733 36.5645 119.681 38.6691L119.57 43.2973L119.567 43.294Z" fill="#00142D"/>
          <path d="M87.0037 10.2502C88.8062 11.1271 90.4042 12.4327 91.5539 14.0762C92.4861 15.3785 93.1389 16.8466 93.5773 18.3828L93.6131 18.4445L93.6715 18.7206C93.8729 19.4806 94.019 20.2568 94.1262 21.0331C94.2367 21.9133 94.3114 22.7707 94.3276 23.6541L94.3341 23.8392C94.3893 29.1592 93.0512 35.5153 90.5016 40.1955C90.0924 40.9295 89.6214 41.683 89.1083 42.3845L96.2828 46.1748C95.958 45.496 95.669 44.7587 95.4189 43.9598L95.276 43.6804L95.2273 43.3134C94.4283 40.4358 94.0743 36.8469 94.1782 32.5792C94.412 23.8522 96.4322 17.9314 100.434 14.6543L88.8842 8.4541C88.7932 8.52555 88.7023 8.59376 88.6146 8.66521C88.043 9.1394 87.5103 9.67205 87.0134 10.2502H87.0037Z" fill="#2D63E3"/>
          <path d="M33.1576 29.5036L33.1349 29.5296C30.5983 32.2643 26.964 33.755 23.3491 34.3949L15.7783 29.6822C24.8009 27.9641 29.7376 21.9523 28.9971 13.5338C28.864 12.0138 28.5587 10.6237 28.0942 9.36682C27.6298 8.11315 27.0062 6.99914 26.2267 6.04102L31.8033 9.54221C37.8346 13.982 38.0911 24.1381 33.1544 29.5036H33.1576Z" fill="#477DFD"/>
          <path d="M23.8071 43.3102C23.8071 43.622 23.7908 43.9338 23.7584 44.2456L23.7519 44.2911C23.4888 47.3928 21.0139 49.9618 17.9349 50.3873C16.3207 50.6504 14.8462 50.4068 13.6672 49.676L7.44434 45.7201C7.85681 45.8013 8.28553 45.8468 8.73374 45.8468C9.18194 45.8468 9.60417 45.8078 10.0589 45.7331C14.1544 45.0576 16.652 41.6895 16.272 37.3634L15.6322 30.1304L23.086 34.7683L23.7681 42.5047C23.7908 42.7743 23.8038 43.0439 23.8038 43.3134L23.8071 43.3102Z" fill="#477DFD"/>
          <path d="M32.0564 9.16237L24.8656 4.64784C24.6221 4.44323 24.372 4.24835 24.1121 4.06647C21.2703 2.09502 17.2721 1.46494 12.553 2.24767L6.28462 3.28373C2.18907 3.96254 -0.308541 7.32733 0.0714594 11.6535L2.53334 39.5981C2.72172 41.7839 3.57915 43.5215 5.00171 44.6258C5.21282 44.7914 5.43368 44.9311 5.66103 45.0643L13.4234 50.0595C16.6908 52.0504 21.6113 50.5466 23.3521 47.1331C23.9725 45.9737 24.2615 44.6258 24.2615 43.2974C24.2615 43.0181 24.2486 42.742 24.2226 42.466L23.547 34.8237C28.5942 33.9598 33.7096 31.1764 35.8077 26.2884C38.1527 20.6728 37.2692 12.8844 32.0532 9.16562L32.0564 9.16237ZM5.28428 44.2685C3.95915 43.2422 3.16992 41.615 2.98804 39.5591L0.526158 11.6145C0.168893 7.53844 2.51385 4.37177 6.35932 3.73519L12.6309 2.69912C13.9203 2.48801 15.1578 2.38083 16.327 2.38083C19.3215 2.38083 21.8841 3.07587 23.8588 4.44322C26.5675 6.32049 28.1882 9.47741 28.552 13.5762C29.2795 21.855 24.3297 27.7369 15.3202 29.3089L15.1123 29.3446L15.1513 29.7668L15.1253 29.809L15.1545 29.8285L15.8268 37.4025C16.1841 41.4819 13.8359 44.6453 9.99043 45.2819C8.16188 45.5839 6.53471 45.2364 5.28753 44.2685H5.28428ZM23.7711 42.5017C23.7938 42.7713 23.8068 43.0408 23.8068 43.3104C23.8068 43.6222 23.7906 43.934 23.7581 44.2458L23.7516 44.2913C23.4886 47.393 21.0137 49.962 17.9347 50.3875C16.3205 50.6506 14.846 50.407 13.667 49.6762L7.44411 45.7203C7.85659 45.8015 8.2853 45.847 8.73351 45.847C9.18171 45.847 9.60394 45.808 10.0586 45.7333C14.1542 45.0578 16.6518 41.6897 16.2718 37.3636L15.632 30.1306L23.0858 34.7685L23.7679 42.5049L23.7711 42.5017ZM33.1574 29.5037L33.1347 29.5297C30.5981 32.2644 26.9638 33.7552 23.3489 34.395L15.7781 29.6824C24.8007 27.9643 29.7374 21.9525 28.9969 13.534C28.8638 12.014 28.5585 10.6239 28.094 9.36699C27.6296 8.11331 27.006 6.9993 26.2265 6.04118L31.8031 9.54237C37.8344 13.9822 38.0909 24.1383 33.1542 29.5037H33.1574Z" fill="#00142D"/>
          <path d="M28.5488 13.5728C28.185 9.47727 26.5611 6.3171 23.8556 4.43984C21.8842 3.07249 19.3183 2.37744 16.3238 2.37744C15.1546 2.37744 13.9204 2.48461 12.6278 2.69573L6.35613 3.73179C2.51066 4.37162 0.165699 7.53829 0.522964 11.6111L2.98484 39.5557C3.16672 41.6149 3.9592 43.2388 5.28108 44.2651C6.52826 45.2298 8.1522 45.5805 9.98399 45.2785C13.8295 44.6386 16.1777 41.4752 15.8204 37.3991L15.1481 29.8251L15.1189 29.8056L15.1448 29.7634L15.1059 29.3412L15.3137 29.3055C24.3266 27.7335 29.2731 21.8516 28.5455 13.5728H28.5488ZM14.8818 20.9227C14.7616 20.9455 14.6447 20.952 14.531 20.952C14.1705 20.952 13.8554 20.8545 13.6021 20.6564C13.2383 20.3771 13.0207 19.9127 12.9688 19.3183L12.4524 13.4169C12.3484 12.2704 12.9428 11.4455 13.9984 11.2701C14.505 11.1889 14.95 11.2798 15.2845 11.5397C15.645 11.819 15.8659 12.2834 15.9178 12.8778L16.4342 18.7824C16.5382 19.9289 15.9438 20.7506 14.8818 20.9227Z" fill="#F5FDFF"/>
          <path d="M16.4344 18.7828L15.918 12.8782C15.866 12.2838 15.6451 11.8226 15.2846 11.54C14.9501 11.2802 14.5051 11.1893 13.9985 11.2705C12.9429 11.4459 12.3486 12.2708 12.4525 13.4173L12.9689 19.3187C13.0209 19.913 13.2385 20.3742 13.6022 20.6568C13.8556 20.8549 14.1706 20.9523 14.5311 20.9523C14.6448 20.9523 14.7585 20.9426 14.8819 20.9231C15.944 20.751 16.5383 19.9293 16.4344 18.7828ZM14.8104 20.4749C14.4304 20.5366 14.1187 20.4814 13.8816 20.2963C13.6217 20.0982 13.4626 19.7474 13.4236 19.2797L12.9072 13.3751C12.826 12.4624 13.2515 11.8551 14.0764 11.7187C14.1739 11.7057 14.2681 11.6959 14.3557 11.6959C14.6156 11.6959 14.8332 11.7609 15.0086 11.9006C15.2684 12.0987 15.4243 12.4527 15.4665 12.9171L15.9829 18.8185C16.0641 19.7344 15.6354 20.3385 14.8104 20.4717V20.4749Z" fill="#00142D"/>
          <path d="M14.8462 20.699C13.9044 20.8549 13.2873 20.3287 13.1963 19.2992L12.6799 13.3978C12.5857 12.3617 13.0956 11.6537 14.0408 11.4978C14.9859 11.3451 15.5998 11.8681 15.6939 12.9009L16.2103 18.8022C16.3045 19.8351 15.7914 20.5463 14.8495 20.7022L14.8462 20.699Z" fill="#00142D"/>
          <path d="M23.7389 26.3373C23.2712 26.6978 22.7775 27.0226 22.2676 27.3279L28.7243 32.7096L28.497 19.4355C27.7078 22.2352 26.0189 24.5997 23.7356 26.3405L23.7389 26.3373Z" fill="#2D63E3"/>
          <path d="M12.4619 54.09C13.4655 54.0835 14.1281 54.0965 14.4464 54.129C14.8718 54.1744 15.5539 54.3401 16.4893 54.6259C18.4672 55.23 20.01 56.4155 21.111 58.1726C21.5072 58.8156 21.7443 59.2996 21.8158 59.6179C21.8905 59.9394 21.8775 60.5435 21.7833 61.4367C21.6924 62.2844 21.5852 62.8657 21.4618 63.1905C21.3383 63.5121 21.0915 63.8726 20.7277 64.2753C20.1626 64.8632 19.539 65.3276 18.857 65.6719C17.9898 66.0649 17.4279 66.4514 17.1746 66.8281C16.918 67.2049 16.7264 68.0103 16.5932 69.2445C16.5737 69.4264 16.5445 69.7642 16.512 70.2579C16.4763 70.7515 16.4406 71.1705 16.4048 71.5115L16.1937 73.4668C16.0736 74.5873 15.9631 75.2791 15.8624 75.5486C15.7618 75.815 15.5799 76.0033 15.3168 76.1138C14.8361 76.2469 14.2418 76.2762 13.5337 76.2015C13.0725 76.1527 12.5821 76.0423 12.0624 75.8702C11.5785 75.7013 11.2667 75.357 11.1238 74.8341C10.9809 74.3112 10.903 73.3076 10.8802 71.8233C10.8412 69.1828 10.6106 65.818 10.1884 61.7257C9.96107 59.829 9.86364 58.2343 9.89287 56.9416C9.88638 56.6623 9.90911 56.2953 9.95783 55.8374C10.0325 55.1293 10.2371 54.6649 10.5652 54.444C10.8932 54.2264 11.5233 54.1062 12.4587 54.0932L12.4619 54.09ZM16.3821 58.6727C15.9014 58.4584 15.5929 58.3447 15.45 58.3317C15.1674 58.3025 15.005 58.4681 14.966 58.8351C14.94 59.0852 14.9336 59.3061 14.9498 59.4912C14.9855 60.1668 14.979 60.7319 14.9303 61.1898C14.8946 61.5341 15.07 61.7257 15.4597 61.7679C15.778 61.8037 16.145 61.716 16.564 61.5049C16.9797 61.297 17.2785 61.0144 17.4604 60.6637C17.4604 60.6409 17.4766 60.602 17.4994 60.5468C17.5221 60.4915 17.5351 60.4526 17.5383 60.4298C17.5708 60.1343 17.4701 59.8095 17.2395 59.462C17.0089 59.1144 16.7231 58.8514 16.3821 58.676V58.6727Z" fill="#F5FDFF"/>
          <path d="M28.0324 55.0417C28.9841 54.8663 29.9389 54.7396 30.8971 54.6552C31.5726 54.5967 31.9818 54.5967 32.1312 54.6552C32.7191 54.8338 33.1641 55.6393 33.4661 57.0683C33.5278 57.3866 33.5765 57.7406 33.6123 58.1304C33.6512 58.5656 33.5018 58.9261 33.1673 59.2087C32.7321 59.5465 32.128 59.829 31.3615 60.0564C30.5203 60.2675 29.887 60.5955 29.4615 61.034C29.0328 61.4757 28.8412 61.9141 28.8769 62.3494C28.9094 62.7391 29.1335 63.0671 29.5524 63.3302C29.9682 63.5933 30.5528 63.7394 31.3063 63.7654C32.167 63.7849 32.7321 63.8953 32.9984 64.1032C33.2647 64.3111 33.4304 64.7463 33.4856 65.4121C33.5441 66.1006 33.5051 66.5521 33.3622 66.773C33.2193 66.9938 32.8198 67.2244 32.1605 67.4647C30.8386 67.9259 30.15 68.6437 30.0916 69.6181C30.0948 69.6636 30.0916 69.735 30.0818 69.8259C30.0721 69.9201 30.0688 69.9883 30.0721 70.0338C30.1143 70.5372 30.3092 70.8945 30.647 71.1089C30.988 71.32 31.5304 71.4077 32.2806 71.3654C32.9594 71.3524 33.4401 71.4206 33.7194 71.57C34.002 71.7194 34.1612 72.0215 34.2001 72.4795C34.2359 72.8919 34.2294 73.2394 34.1839 73.5188C34.1059 74.2885 33.9371 74.7854 33.6707 75.016C33.4044 75.2466 32.7776 75.4383 31.787 75.5942C29.8123 75.9514 28.328 76.169 27.3341 76.2567C26.5157 76.3282 25.9571 76.2827 25.6582 76.1236L24.9372 75.841L24.0603 66.328L23.6933 62.0668C23.4887 59.6861 23.3945 58.1856 23.4107 57.5718C23.4302 56.9579 23.5374 56.5617 23.7388 56.383C24.2714 55.9218 25.7005 55.4769 28.0227 55.0449L28.0324 55.0417Z" fill="#F5FDFF"/>
          <path d="M38.1981 55.623C38.5521 55.5061 39.1075 55.4444 39.8545 55.4411H40.1208C40.7249 55.4379 41.1536 55.5613 41.407 55.8114C42.1247 56.5194 43.1121 58.2732 44.3755 61.0729C45.6 63.8044 46.4834 65.1652 47.016 65.1652C47.4448 65.1652 47.6526 64.1161 47.6429 62.0245C47.6364 61.0372 47.5617 60.2187 47.4155 59.5756C47.2694 58.9098 47.1947 58.3804 47.1947 57.9907C47.1947 57.6464 47.2791 57.3703 47.4577 57.1625C47.776 56.7013 48.4256 56.2888 49.4032 55.9283C50.3808 55.5678 51.2448 55.3826 51.995 55.3794C52.4237 55.3794 52.7258 55.4444 52.9044 55.5808C53.2974 55.8796 53.5605 56.7922 53.6936 58.3187C53.8268 59.8485 53.9015 62.6708 53.9242 66.7859C53.9535 72.4664 53.843 75.4674 53.5962 75.789C53.4176 76.1105 52.9044 76.4028 52.0502 76.6594C51.4104 76.8478 50.9622 76.942 50.7153 76.942C50.5367 76.942 50.2866 76.9095 49.9651 76.8413C49.4649 76.7276 49.0557 76.4775 48.7309 76.0878C48.4094 75.698 47.9579 74.8601 47.3798 73.5772C46.4412 71.5602 45.7234 70.5502 45.2265 70.5534H45.1745C44.9601 70.6476 44.8595 71.7519 44.8692 73.8662C44.8757 75.383 44.8465 76.3021 44.775 76.6269C44.7036 76.9485 44.5282 77.179 44.2424 77.3187C43.8494 77.5038 43.3167 77.598 42.6379 77.6013C41.9591 77.6045 41.4622 77.5168 41.1406 77.3317C40.8548 77.1726 40.647 76.916 40.5203 76.5587C40.3936 76.2047 40.2377 75.4609 40.0559 74.3372C39.429 70.4787 38.7372 67.1237 37.974 64.2753C37.3212 61.9563 36.9542 59.7153 36.8697 57.5555V57.2794C36.8665 56.7727 36.9606 56.3992 37.1555 56.1556C37.3504 55.912 37.6979 55.7334 38.1948 55.6165L38.1981 55.623Z" fill="#F5FDFF"/>
          <path d="M62.0181 55.5939C62.3656 55.5094 62.9405 55.4737 63.7427 55.4964C65.5777 55.5419 66.8379 55.7303 67.5167 56.0551C68.0461 56.3052 68.4813 56.4838 68.8223 56.5877C69.657 56.7988 70.4073 57.4419 71.0699 58.517C71.7324 59.592 72.0507 60.5924 72.028 61.518C72.015 61.9694 71.8916 62.3332 71.6545 62.6125C71.2192 63.1484 70.5047 63.4018 69.5109 63.379C69.0886 63.3693 68.6502 63.3206 68.1955 63.2394L66.8801 63.0282L66.7372 61.8135C66.4774 59.9525 65.5842 59.0041 64.0545 58.9652C62.1415 58.9164 61.0632 60.732 60.8163 64.4086L60.7969 65.1913C60.7579 66.6853 60.8456 68.0982 61.0632 69.42C61.2775 70.7452 61.5536 71.5896 61.8881 71.9534C62.2227 72.3171 62.7553 72.5088 63.4796 72.5282C63.7102 72.5347 63.8823 72.5153 63.9992 72.4698C64.8469 72.158 65.2919 71.2681 65.3309 69.7968C65.3471 69.2024 65.3179 68.8289 65.2432 68.673C65.1685 68.5171 64.9444 68.3872 64.5644 68.28C64.0707 68.1501 63.7492 67.9163 63.6063 67.5785C63.5348 67.3382 63.5023 67.1238 63.5088 66.9354C63.5381 65.8182 63.7816 65.1718 64.2461 64.9932C64.5546 64.8828 65.7044 64.8535 67.6921 64.9023C68.8386 64.9315 69.6408 64.9867 70.0987 65.0712C70.7451 65.2076 71.1673 65.5453 71.3654 66.0845C71.5603 66.6236 71.6415 67.7019 71.5993 69.3161C71.5473 71.359 71.4174 72.7329 71.2063 73.4409C70.9951 74.1489 70.508 74.9739 69.7382 75.9158C68.9685 76.8576 68.2929 77.465 67.7116 77.7346C67.0912 77.9814 66.1331 78.0853 64.834 78.0529C63.9928 78.0301 63.249 77.9652 62.5994 77.8547C61.8362 77.7411 61.034 77.3871 60.1863 76.7959C59.3386 76.2048 58.715 75.5585 58.3122 74.8602C57.0293 72.6192 56.4447 69.2901 56.5551 64.873C56.6461 61.3134 57.2015 58.9619 58.2278 57.8252C58.5039 57.5004 59.0982 57.0684 60.0109 56.5325C60.9235 55.9966 61.5926 55.6881 62.0148 55.6036L62.0181 55.5939Z" fill="#F5FDFF"/>
          <path d="M89.066 55.7725C90.0274 55.4932 90.9368 55.3502 91.7909 55.3438C92.3593 55.3438 92.7166 55.4087 92.8627 55.5451C93.22 55.7952 93.4019 56.5422 93.4084 57.7829C93.4116 58.5202 93.3629 59.6114 93.2655 61.06C92.9017 67.062 91.8364 71.0699 90.0631 73.0803C88.2897 75.0908 86.2468 76.1008 83.9279 76.1106C83.4634 76.1106 82.999 76.0814 82.5378 76.0132C81.5374 75.88 80.7904 75.7014 80.2903 75.474C78.2896 74.5419 76.7436 71.8364 75.6491 67.3576C74.8111 63.9603 74.3889 61.375 74.3792 59.6049V58.9164C74.4051 58.0882 74.4668 57.5718 74.5545 57.3639C74.6422 57.1561 74.8468 56.9709 75.1684 56.8085C75.6653 56.5747 76.4675 56.4448 77.5718 56.4156C77.7147 56.4156 77.8998 56.4091 78.1337 56.3961C78.3643 56.3831 78.5169 56.3766 78.5884 56.3766C79.4068 56.3733 79.8908 56.6234 80.0369 57.1268C80.1798 57.6335 80.2968 59.16 80.3812 61.7128C80.4202 62.3559 80.4397 62.8626 80.4429 63.2296C80.5338 67.2537 80.7612 69.5402 81.1185 70.089C81.4433 70.547 81.8362 70.7744 82.2974 70.7744C82.7586 70.7744 83.2848 70.5405 83.8726 70.0761C84.4573 69.6149 84.873 69.0952 85.1231 68.5171C85.5096 67.6889 85.7662 66.8347 85.8863 65.961C86.0065 65.0873 86.1137 63.5446 86.2111 61.3393C86.2403 60.3974 86.2663 59.7121 86.2826 59.2867C86.2988 58.8612 86.3573 58.413 86.4612 57.9388C86.5651 57.4679 86.6528 57.1561 86.7243 57.0067C86.7957 56.8573 86.9646 56.6786 87.2309 56.4708C87.4973 56.2629 87.7376 56.1297 87.952 56.0713C88.1663 56.0128 88.5398 55.9121 89.0725 55.7725H89.066Z" fill="#F5FDFF"/>
          <path d="M97.4522 56.2236C97.8809 56.1749 98.3616 56.1489 98.8943 56.1489H99.4821C100.089 56.1652 100.479 56.2106 100.658 56.2788C100.837 56.347 101.067 56.5517 101.356 56.8959C101.606 57.2175 101.769 57.7436 101.847 58.4809C101.921 59.2149 102.019 60.9752 102.142 63.7554C102.34 67.9159 102.587 70.6052 102.879 71.8231C103.282 73.7296 103.5 74.7982 103.539 75.0288C103.574 75.2821 103.594 75.5679 103.597 75.8894C103.597 76.2564 103.422 76.5455 103.068 76.7534C102.428 77.1723 101.538 77.3835 100.398 77.3867C99.4367 77.3899 98.7221 77.2471 98.2577 76.9482C97.7218 76.6527 97.3613 76.0323 97.1794 75.0905C96.9943 74.1486 96.8059 71.8978 96.611 68.3317C96.2992 63.1123 96.0329 59.7248 95.8121 58.1594C95.7763 58.0002 95.7568 57.7923 95.7568 57.539C95.7568 57.1265 95.877 56.8212 96.1271 56.6231C96.3739 56.425 96.8221 56.2918 97.462 56.2204L97.4522 56.2236Z" fill="#F5FDFF"/>
          <path d="M106.848 55.6391C107.202 55.5222 107.757 55.4605 108.504 55.4572H108.771C109.375 55.454 109.804 55.5774 110.057 55.8275C110.775 56.5355 111.762 58.2894 113.025 61.089C114.25 63.8205 115.133 65.1813 115.666 65.1813C116.095 65.1813 116.303 64.1323 116.293 62.0406C116.286 61.0533 116.212 60.2348 116.065 59.5918C115.919 58.9259 115.845 58.3965 115.845 58.0068C115.845 57.6625 115.929 57.3864 116.108 57.1786C116.426 56.7174 117.076 56.3049 118.053 55.9444C119.031 55.5839 119.895 55.3988 120.645 55.3955C121.074 55.3955 121.376 55.4605 121.554 55.5969C121.947 55.8957 122.21 56.8083 122.344 58.3348C122.477 59.8646 122.551 62.687 122.574 66.802C122.603 72.4825 122.493 75.4835 122.246 75.8051C122.067 76.1266 121.554 76.4189 120.7 76.6755C120.06 76.8639 119.612 76.9581 119.365 76.9581C119.187 76.9581 118.937 76.9256 118.615 76.8574C118.115 76.7437 117.706 76.4936 117.381 76.1039C117.059 75.7141 116.608 74.8762 116.03 73.5933C115.091 71.5764 114.373 70.5663 113.876 70.5695H113.824C113.61 70.6637 113.509 71.768 113.519 73.8824C113.526 75.3991 113.496 76.3182 113.425 76.643C113.353 76.9646 113.178 77.1952 112.892 77.3348C112.499 77.5199 111.967 77.6141 111.288 77.6174C110.609 77.6206 110.112 77.5329 109.791 77.3478C109.505 77.1887 109.297 76.9321 109.17 76.5748C109.044 76.2208 108.888 75.477 108.706 74.3533C108.079 70.4948 107.387 67.1398 106.624 64.2914C105.971 61.9724 105.604 59.7314 105.52 57.5716V57.2955C105.516 56.7888 105.611 56.4153 105.805 56.1718C106 55.9282 106.348 55.7495 106.845 55.6326L106.848 55.6391Z" fill="#F5FDFF"/>
          <path d="M130.077 55.6262C130.506 55.532 131.002 55.4833 131.574 55.48C132.5 55.4768 133.481 55.6554 134.517 56.0159C135.195 56.266 136.007 56.7434 136.956 57.4515C137.904 58.1595 138.45 58.6986 138.596 59.0657C138.596 59.0884 138.606 59.1241 138.622 59.1696C138.638 59.2151 138.648 59.2508 138.648 59.2735C138.648 59.5951 138.456 59.9588 138.067 60.3616C137.677 60.7675 137.18 61.0858 136.573 61.3164C136.004 61.573 135.559 61.6997 135.238 61.7029C134.666 61.7029 134.114 61.3164 133.575 60.537C133.036 59.7575 132.393 59.371 131.642 59.3742C131.321 59.3742 131.035 59.4587 130.788 59.621C130.47 59.8289 130.311 60.1992 130.314 60.7286C130.314 61.3489 130.535 62.0732 130.967 62.8981C131.399 63.7231 131.954 64.4441 132.636 65.0612C134.786 66.9807 136.092 68.4 136.563 69.3192C136.995 70.0987 137.248 70.9723 137.326 71.9369C137.329 72.8334 137.014 73.6973 136.378 74.5287C135.774 75.3147 135.147 75.8636 134.487 76.1754C133.828 76.4905 132.948 76.6496 131.844 76.6528C129.775 76.6626 128.206 76.1527 127.131 75.1231C126.127 74.1163 125.624 73.1646 125.621 72.2682C125.618 71.3491 126.111 70.6573 127.108 70.1896C127.569 69.9817 128.034 69.8746 128.498 69.8713C129.674 69.8648 130.356 70.5176 130.541 71.8265C130.58 72.3104 130.652 72.619 130.759 72.7554C130.866 72.8918 131.064 72.9828 131.35 73.0282H131.509C131.902 73.0282 132.23 72.9275 132.496 72.7294C132.763 72.5346 132.896 72.2845 132.893 71.9857C132.854 71.2062 131.99 69.9915 130.307 68.3416C127.979 66.0778 126.543 64.2687 126.001 62.9144C125.747 62.294 125.621 61.6412 125.618 60.9494C125.611 59.686 126.014 58.5493 126.829 57.5457C127.644 56.5421 128.729 55.899 130.08 55.6164L130.077 55.6262Z" fill="#F5FDFF"/>
          <path d="M65.1165 30.0137L64.8437 12.6701C64.9151 10.0491 63.8628 7.67164 61.9791 6.10617C57.955 2.88753 54.1517 4.99865 50.2283 8.24652C49.6144 8.71421 49.0688 9.13318 48.6498 9.42224C47.6592 5.88532 44.0703 3.81318 40.4327 4.52446C39.0004 4.80378 36.0286 6.98634 33.648 8.85711C33.1965 9.21112 32.7775 9.54241 32.4105 9.82172C29.9064 10.9195 28.4027 13.5665 28.4611 17.019L28.7567 34.2229C28.8346 38.6985 30.3059 42.5764 33.0114 45.4313C35.6421 48.3154 39.8871 50.0075 44.2522 50.0075C44.9797 50.0075 45.7105 49.9621 46.438 49.8614C48.7862 49.5626 50.9071 48.7539 52.6934 47.4937C53.2878 47.078 53.8724 46.672 54.4505 46.2692C60.3454 42.1802 65.4348 38.6465 65.1198 30.0072L65.1165 30.0137ZM33.924 9.21437C36.1456 7.47027 38.9939 5.32019 40.4815 4.97592C43.9794 4.1607 47.6397 6.5219 48.3283 10.0458C47.565 10.3511 46.8797 10.7993 46.2886 11.3872C44.8791 12.787 44.1353 14.9014 44.1873 17.3308L44.5218 36.8959C44.5153 37.5487 44.0704 37.8508 43.6579 37.854H43.6481C43.2259 37.854 42.7939 37.5455 42.7777 36.8504L42.4432 17.2821C42.4204 14.6708 41.485 12.4233 39.8059 10.952C38.3086 9.64309 36.3177 9.06498 34.1968 9.32805C34.0117 9.35403 33.8298 9.38976 33.6512 9.42548C33.7421 9.35728 33.8298 9.28908 33.9208 9.21437H33.924ZM54.2524 45.545C52.2355 47.6756 49.5105 49.0137 46.3731 49.4132C41.4266 50.0693 36.3144 48.3869 33.3394 45.126C30.7119 42.3491 29.2796 38.5783 29.2049 34.2197L28.9126 17.0125C28.8444 13.0436 30.9392 10.2082 34.2553 9.78275C34.5703 9.74053 34.8886 9.72104 35.1972 9.72104C36.8276 9.72104 38.3314 10.2667 39.5071 11.293C41.0856 12.6766 41.9657 14.804 41.9852 17.2853L42.3197 36.8602C42.3457 37.8573 43.0213 38.3087 43.6449 38.3087H43.6579C44.3074 38.3022 44.9635 37.8151 44.97 36.8959L44.6355 17.3243C44.5868 15.0183 45.285 13.0241 46.6069 11.712C47.7502 10.572 49.2799 9.99386 51.037 10.0393C54.9539 10.1173 57.6367 13.154 57.7081 17.6004L58.0037 34.8043C58.0784 39.1597 56.7792 42.8752 54.2459 45.545H54.2524ZM55.1228 45.2494C57.3833 42.544 58.5363 38.9518 58.4681 34.7945L58.1726 17.5906C58.0946 12.8812 55.2333 9.66583 51.0533 9.58139C50.2413 9.5619 49.4748 9.66583 48.7635 9.89318C49.2117 9.59437 49.8126 9.13318 50.5011 8.60703C54.2362 5.54429 57.8478 3.37147 61.6868 6.45369C63.4633 7.92822 64.4994 10.3024 64.389 12.6474C64.3435 13.3034 64.4702 17.0352 64.4734 17.9024C64.5449 22.3422 64.6553 28.8769 64.6683 30.0267H64.6618C64.6618 30.0624 64.6618 30.1014 64.6618 30.1339C64.9086 38.0099 60.6669 41.378 55.1196 45.2494H55.1228Z" fill="#00142D"/>
          <path d="M46.2888 11.3872C44.8792 12.787 44.1355 14.9014 44.1874 17.3308L44.522 36.8959C44.5155 37.5487 44.0705 37.8508 43.658 37.854H43.6483C43.2261 37.854 42.7941 37.5455 42.7779 36.8504L42.4433 17.2821C42.4206 14.6708 41.4852 12.4233 39.8061 10.952C38.3088 9.64309 36.3179 9.06497 34.197 9.32804C34.0119 9.35403 33.83 9.38975 33.6514 9.42547C33.7423 9.35727 33.83 9.28907 33.9209 9.21437C36.1425 7.47026 38.9909 5.32018 40.4784 4.97591C43.9763 4.16069 47.6367 6.52189 48.3252 10.0458C47.562 10.3511 46.8767 10.7993 46.2856 11.3872H46.2888Z" fill="#477DFD"/>
          <path d="M55.123 45.2526C57.3835 42.5471 58.5365 38.955 58.4683 34.7977L58.1727 17.5938C58.0948 12.8844 55.2334 9.66903 51.0534 9.58458C50.2414 9.56509 49.475 9.66902 48.7637 9.89637C49.2119 9.59757 49.8127 9.13638 50.5013 8.61022C54.2363 5.54749 57.8479 3.37467 61.6869 6.45689C63.4635 7.93142 64.4996 10.3056 64.3891 12.6506C64.3437 13.3066 64.4703 17.0384 64.4736 17.9056C64.545 22.3454 64.6555 28.8801 64.6685 30.0299H64.662C64.662 30.0656 64.662 30.1046 64.662 30.1371C64.9088 38.0131 60.6671 41.3812 55.1197 45.2526H55.123Z" fill="#477DFD"/>
          <path d="M58.0101 34.8044C58.0848 39.1598 56.7857 42.8754 54.2523 45.5451C52.2354 47.6757 49.5105 49.0139 46.373 49.4133C41.4265 50.0694 36.3144 48.387 33.3393 45.1262C30.7118 42.3492 29.2795 38.5785 29.2048 34.2198L28.9125 17.0126C28.8443 13.0438 30.9392 10.2084 34.2552 9.7829C34.5703 9.74068 34.8886 9.72119 35.1971 9.72119C36.8275 9.72119 38.3313 10.2668 39.507 11.2932C41.0855 12.6767 41.9657 14.8041 41.9852 17.2855L42.3197 36.8603C42.3457 37.8574 43.0212 38.3089 43.6448 38.3089H43.6578C44.3074 38.3024 44.9634 37.8152 44.9699 36.8961L44.6354 17.3244C44.5867 15.0185 45.285 13.0243 46.6069 11.7121C47.7501 10.5721 49.2799 9.99402 51.037 10.0395C54.9539 10.1174 57.6366 13.1542 57.7081 17.6005L58.0036 34.8044H58.0101Z" fill="#F5FDFF"/>
          <path d="M42.5342 36.7207C42.5342 36.7759 42.5407 36.8279 42.5472 36.8798C42.5472 36.8928 42.5504 36.9026 42.5537 36.9123C42.5537 36.9253 42.5569 36.9383 42.5602 36.9513C42.5634 36.974 42.5667 37 42.5732 37.0228C42.5829 37.0682 42.5926 37.1137 42.6056 37.1592V37.1657C42.6056 37.1657 42.6121 37.1754 42.6154 37.1819C42.6284 37.2209 42.6414 37.2599 42.6543 37.2923C42.6608 37.3086 42.6706 37.3248 42.6803 37.341C42.6901 37.3638 42.7031 37.3865 42.7161 37.4092C42.7258 37.4255 42.7323 37.4417 42.7388 37.4547C42.7615 37.4905 42.7843 37.5229 42.8103 37.5522C42.8362 37.5846 42.8655 37.6139 42.8979 37.6431C42.9142 37.6561 42.9304 37.6691 42.9467 37.6821C42.9597 37.6918 42.9726 37.7016 42.9856 37.7113C42.9954 37.7178 43.0051 37.7275 43.0149 37.734C43.0441 37.7535 43.0733 37.7698 43.1058 37.7828C43.122 37.7892 43.1383 37.7957 43.1545 37.8055C43.161 37.8055 43.1643 37.8087 43.1708 37.812C43.1773 37.812 43.1838 37.8185 43.1903 37.8217C43.2195 37.8315 43.2487 37.8412 43.2779 37.851C43.3072 37.8607 43.3397 37.8672 43.3721 37.8737C43.3754 37.8737 43.3819 37.8737 43.3884 37.8737H43.4014C43.4273 37.8802 43.4533 37.8867 43.4793 37.8899C43.5183 37.8964 43.5605 37.8997 43.6027 37.8997C43.6222 37.8997 43.6385 37.8997 43.6579 37.8997C43.6872 37.8997 43.7132 37.8997 43.7391 37.8997C43.7814 37.8997 43.8236 37.8964 43.8626 37.8899C43.8723 37.8899 43.8788 37.8899 43.8885 37.8899C43.9178 37.8867 43.947 37.8802 43.9762 37.8769C44.012 37.8704 44.0477 37.8607 44.0834 37.851C44.0997 37.8445 44.1159 37.838 44.1321 37.8347C44.1419 37.8315 44.1516 37.8282 44.1614 37.825C44.1744 37.8185 44.1873 37.8152 44.2003 37.812C44.2555 37.786 44.3043 37.7568 44.3497 37.7243L44.5706 37.5846L44.5316 35.2104L42.5407 36.6622C42.5407 36.6817 42.5407 36.7012 42.5407 36.7207H42.5342Z" fill="#00142D"/>
          <path d="M57.3283 26.3274L49.5626 48.6337C51.3652 47.9581 52.9534 46.9156 54.2525 45.5482C56.7859 42.8752 58.085 39.1629 58.0103 34.8075L57.8382 24.8398L57.3672 26.2137L57.3283 26.3306V26.3274Z" fill="#DBE3E5"/>
          <path d="M93.8729 24.8235C93.73 30.3189 92.2262 36.9673 89.1343 41.5598C88.8647 41.969 88.5659 42.362 88.2606 42.7452C87.3479 43.8787 86.2599 44.8953 85.0452 45.691C82.2358 47.5521 78.7281 47.9938 75.451 47.3929L69.0722 46.2757L62.7129 43.5832L67.7503 44.4569C68.2732 44.5445 68.7767 44.6095 69.2443 44.6517C69.7023 44.6907 70.1472 44.7102 70.589 44.7102C74.1389 44.7102 77.1984 43.4305 79.6992 40.8972C82.5411 38.0196 84.623 33.4628 85.724 27.7174C86.825 21.9784 86.562 17.0124 84.977 13.3651C84.0903 11.3319 82.8139 9.69823 81.1543 8.46729L86.1008 10.3478C88.1177 11.1825 89.9235 12.5531 91.1772 14.3459C93.324 17.3632 93.9216 21.1794 93.8696 24.817L93.8729 24.8235Z" fill="#477DFD"/>
          <path d="M94.3211 23.6672C94.3049 22.7805 94.2302 21.9263 94.1198 21.0462C93.7852 18.5745 93.0122 16.1289 91.5507 14.086C90.2483 12.2217 88.3743 10.7959 86.2762 9.93197L78.0363 6.79778C75.7823 5.9371 70.3389 5.22256 67.903 4.79709C64.2881 4.48855 61.5567 6.78804 60.7869 10.8089L56.0873 35.3238C55.6975 37.3439 55.9704 39.1692 56.8798 40.608C57.7047 41.9072 59.0006 42.7939 60.644 43.1998L68.9228 46.7043L75.3406 47.8345C78.6892 48.4516 82.2813 48.0229 85.1719 46.1489C86.497 45.3142 87.663 44.2197 88.6406 42.9985C89.3324 42.1443 89.9657 41.1569 90.4952 40.2053C93.0447 35.5284 94.3828 29.1723 94.3276 23.8491L94.3211 23.6639V23.6672ZM57.263 40.3644C56.4153 39.0296 56.162 37.3147 56.5322 35.4115L61.2319 10.8966C61.9107 7.34992 64.1972 5.22582 67.2664 5.22582C67.4613 5.22582 67.6594 5.23556 67.864 5.2518C67.9193 5.20633 74.7625 6.43077 75.0386 6.4665C79.6603 7.26872 82.8659 9.64941 84.5645 13.5501C86.117 17.1162 86.3671 21.9848 85.2856 27.6361C84.2008 33.2906 82.1611 37.7694 79.381 40.5821C76.669 43.3298 73.2717 44.5477 69.2898 44.2034C68.8319 44.1645 68.3447 44.1027 67.8348 44.015L61.2904 42.8815C59.5073 42.5697 58.114 41.7026 57.2663 40.3677L57.263 40.3644ZM93.8729 24.8234C93.73 30.3188 92.2263 36.9672 89.1343 41.5597C88.8647 41.9689 88.5659 42.3619 88.2606 42.7451C87.348 43.8786 86.2599 44.8952 85.0452 45.6909C82.2358 47.552 78.7281 47.9937 75.451 47.3928L69.0722 46.2756L62.7129 43.5831L67.7504 44.4568C68.2733 44.5445 68.7767 44.6094 69.2444 44.6516C69.7023 44.6906 70.1473 44.7101 70.589 44.7101C74.1389 44.7101 77.1984 43.4304 79.6993 40.8971C82.5411 38.0195 84.623 33.4627 85.724 27.7173C86.8251 21.9783 86.562 17.0123 84.977 13.365C84.0904 11.3318 82.8139 9.69813 81.1543 8.46719L86.1008 10.3477C88.1177 11.1824 89.9235 12.553 91.1772 14.3458C93.324 17.3631 93.9216 21.1793 93.8697 24.8169L93.8729 24.8234Z" fill="#00142D"/>
          <path d="M84.5614 13.5499C82.8627 9.65242 79.6571 7.26849 75.0354 6.46627C74.7593 6.4273 67.9161 5.2061 67.8609 5.25157C67.6562 5.23209 67.4581 5.22559 67.2632 5.22559C64.194 5.22559 61.9075 7.34969 61.2287 10.8964L56.5291 35.4112C56.1588 37.3145 56.4121 39.0293 57.2598 40.3642C58.1075 41.6991 59.5009 42.5695 61.2839 42.8781L67.8284 44.0116C68.3383 44.0993 68.8287 44.1642 69.2834 44.1999C73.2685 44.5442 76.6626 43.3263 79.3745 40.5786C82.1547 37.7659 84.1944 33.2871 85.2791 27.6326C86.3607 21.9813 86.1106 17.1128 84.5581 13.5466L84.5614 13.5499ZM74.6749 16.9764L71.4043 34.0406C71.2062 35.0702 70.5663 35.6678 69.6829 35.6678C69.6244 35.6678 69.566 35.6678 69.5043 35.6581C69.4361 35.6483 69.3744 35.6418 69.3127 35.6321C68.819 35.5476 68.4227 35.3138 68.1759 34.9565C67.9031 34.5635 67.8251 34.0341 67.9388 33.4333L71.2094 16.369C71.3101 15.8331 71.5407 15.4011 71.8655 15.1186C72.2 14.8393 72.6287 14.7094 73.1159 14.7516C73.1776 14.7581 73.2426 14.7646 73.3075 14.7776C73.8012 14.862 74.1909 15.0926 74.4345 15.4499C74.7073 15.8461 74.7886 16.3755 74.6749 16.9796V16.9764Z" fill="#F5FDFF"/>
          <path d="M74.4378 15.4469C74.1942 15.0929 73.8012 14.8623 73.3108 14.7746C73.2458 14.7649 73.1809 14.7551 73.1192 14.7486C72.6352 14.7032 72.2033 14.8331 71.8687 15.1156C71.5407 15.3982 71.3133 15.8302 71.2127 16.3661L67.9421 33.4303C67.8251 34.0344 67.9063 34.5606 68.1792 34.9536C68.426 35.3076 68.819 35.5415 69.3159 35.6292C69.3776 35.6389 69.4393 35.6486 69.5075 35.6551C69.5692 35.6616 69.6277 35.6649 69.6862 35.6649C70.5728 35.6649 71.2094 35.0673 71.4075 34.0377L74.6781 16.9734C74.795 16.3693 74.7106 15.8399 74.4378 15.4437V15.4469ZM74.2299 16.8922L70.9593 33.9565C70.7904 34.8269 70.287 35.2654 69.5465 35.2069C69.4978 35.2004 69.4491 35.1972 69.3939 35.1842C69.0139 35.1192 68.7313 34.9568 68.5527 34.7003C68.3513 34.408 68.2961 34.002 68.387 33.5213L71.6576 16.457C71.7421 16.0218 71.9174 15.6808 72.1643 15.4664C72.3754 15.291 72.6352 15.2001 72.9373 15.2001C72.9827 15.2001 73.0315 15.2001 73.0769 15.2098C73.1256 15.2098 73.1744 15.2196 73.2296 15.2293C73.6096 15.2943 73.8889 15.4567 74.0675 15.7133C74.2721 16.0023 74.3274 16.4115 74.2364 16.8955L74.2299 16.8922Z" fill="#00142D"/>
          <path d="M74.4538 16.9342L71.1832 33.9985C70.9949 34.9794 70.381 35.5055 69.5236 35.4308C69.4651 35.4243 69.4099 35.4178 69.3514 35.4048C68.4063 35.2425 67.9581 34.5182 68.1595 33.4724L71.4301 16.4081C71.5243 15.9242 71.7256 15.5344 72.0147 15.2876C72.3037 15.044 72.674 14.9368 73.0962 14.9725C73.1514 14.979 73.2066 14.9823 73.2651 14.9953C74.2102 15.1577 74.6552 15.8852 74.4538 16.931V16.9342Z" fill="#00142D"/>
          <path d="M138.378 54.3273H139.262V56.8509H139.684V54.3273H140.567V53.9473H138.378V54.3273Z" fill="#F5FDFF"/>
          <path d="M143.991 53.9473H143.646H143.552L142.594 56.2208L141.639 53.9473H141.545H141.197H141.123V56.8509H141.545V54.7462L142.461 56.8509H142.727L143.646 54.7365V56.8509H144.069V53.9473H143.991Z" fill="#F5FDFF"/>
        </g>
        <defs>
          <clipPath id="clip0_1321_882">
            <rect width="149" height="83" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </a>
    <div class="nav-mask"></div>
    <div class="nav-bar mw" id="nav-bar">
      <div class="left">
        {% for link in linklists.pudgy_shop_menu.links %}
          <a class="link prefetch-us"href="{{ link.url }}"  class="blue-hover">{{ link.title }}</a>
        {% endfor %}
      </div>
      <div class="right">
        <a style="display: none" class="icon-link" href="/">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <path d="M9.57028 17.9599L9.50257 18L9.46207 17.975C-3.41332 10.3098 1.00526 2.9114 5.78429 3.0008C5.93697 3.0008 6.09165 3.01593 6.24499 3.03434C8.16809 3.26519 9.07424 4.32208 9.5025 5.2317C9.92935 4.32279 10.8368 3.26518 12.7607 3.04293C17.6871 2.44181 22.818 10.0519 9.57028 17.9599Z" fill="#33336C"/>
            </svg>
          </span>
        </a>
        <button class="icon-link cart" id="mini-cart-trigger">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <g clip-path="url(#clip0_901_144)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.64735 5.90851H4.73146V4.75589C4.73146 2.13294 6.88891 0 9.51186 0C12.1348 0 14.2678 2.13313 14.2678 4.75589V5.90851H16.7682C17.4057 5.90851 17.9208 6.42358 17.9208 7.06112V14.0725C17.9208 16.7696 15.7143 19 12.9933 19H6.1288C3.35822 19 1.07822 16.72 1.07822 13.9494V7.47684C1.07822 6.61888 1.78923 5.90786 2.6472 5.90786L2.64735 5.90851ZM6.91342 5.90851H12.0866V4.75589C12.0866 3.35835 10.9094 2.18196 9.51262 2.18196C8.09059 2.18196 6.91418 3.35907 6.91418 4.75589V5.90851H6.91342Z" fill="#33336C"/>
                </g>
                <defs>
                    <clipPath id="clip0_901_144">
                        <rect width="19" height="19" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
          </span>
        </button>
        <button style="display: none" class="icon-link search">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                <g clip-path="url(#clip0_901_1989)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.80316 0.950195C11.5883 0.950195 14.6572 4.01832 14.6572 7.80426C14.6572 9.07488 14.3114 10.2653 13.7087 11.2858L17.5488 15.1267C18.2153 15.7931 18.2153 16.8834 17.5488 17.5507C16.8823 18.2164 15.792 18.2164 15.1255 17.5507L11.2847 13.7083C10.2634 14.3117 9.07366 14.6583 7.80313 14.6583C4.01795 14.6583 0.949066 11.5894 0.949066 7.8035C0.949808 4.01908 4.01874 0.950195 7.80316 0.950195ZM7.80391 3.52033C5.4386 3.52033 3.51998 5.43895 3.51998 7.80502C3.51998 10.1718 5.4386 12.0889 7.80391 12.0889C8.35684 12.0889 8.88379 11.9843 9.36993 11.7936L9.37438 11.7921L9.46196 11.7557L9.47086 11.752H9.47235L9.52282 11.7297L9.56586 11.7104L9.57328 11.7075L9.62375 11.6845L9.66012 11.6674L9.77293 11.611L9.82192 11.585L9.84567 11.5724L9.8709 11.5583L9.91914 11.5316L9.96145 11.5078L9.96813 11.5048L10.0156 11.4774L10.0268 11.47L10.1002 11.4239L10.1099 11.4173L10.1151 11.4143L10.1559 11.3876L10.2019 11.3586V11.3579L10.2479 11.3267L10.2865 11.3L10.2932 11.2955L10.3377 11.2629L10.3392 11.2621L10.4246 11.1976H10.4253L10.4513 11.1768L10.4676 11.1634L10.5099 11.1286L10.553 11.0959L10.5953 11.0595H10.596L10.6361 11.0239L10.6769 10.9875L10.6873 10.9779L10.7177 10.9504L10.7578 10.9133L10.7623 10.9089L10.7972 10.8755L10.8714 10.8013L10.8743 10.7975L10.9077 10.7634L10.9122 10.7582L10.95 10.7189L10.9775 10.6877L10.9872 10.6773L11.0235 10.6372L11.0591 10.5957L11.0948 10.5534L11.1118 10.5318L11.1282 10.5111L11.1965 10.425L11.1972 10.4235L11.2618 10.3381L11.2625 10.3374L11.2952 10.2921L11.2996 10.2854L11.3256 10.2468L11.3575 10.2008L11.3879 10.1548L11.3946 10.1452L11.431 10.088L11.4696 10.0264L11.477 10.0145L11.5052 9.96703L11.5082 9.96035L11.5319 9.91805L11.5586 9.8698L11.5727 9.84531L11.5854 9.82156L11.6106 9.77258L11.621 9.75328L11.6232 9.74883L11.6611 9.67461L11.6677 9.66125L11.6848 9.62488L11.7078 9.57516L11.7108 9.56773L11.7301 9.52395L11.7516 9.47348L11.7524 9.47273L11.7731 9.42301L11.7917 9.37625L11.7939 9.37106C11.9839 8.8864 12.0893 8.35872 12.0893 7.80578C12.0886 5.43895 10.17 3.52033 7.80391 3.52033Z" fill="#33336C"/>
                </g>
                <defs>
                    <clipPath id="clip0_901_1989">
                        <rect width="19" height="19" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            </span>
        </button>
        <a style="display: none" class="icon-link account" href="">
          <img class="preload-critical" data-preload-desktop="" data-preload-mobile="">
        </a>
      </div>
    </div>
    <button class="icon-link hammy mobile" id="hammy">
      <svg width="45" height="40" viewBox="0 0 45 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 13H32" stroke="#33336C" stroke-width="3" stroke-linecap="round"/>
        <path d="M13 20H32" stroke="#33336C" stroke-width="3" stroke-linecap="round"/>
        <path d="M13 27H32" stroke="#33336C" stroke-width="3" stroke-linecap="round"/>
      </svg>
    </button>
    <button class="icon-link cart mobile" id="mini-cart-trigger-mobile">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
        <g clip-path="url(#clip0_901_144)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.64735 5.90851H4.73146V4.75589C4.73146 2.13294 6.88891 0 9.51186 0C12.1348 0 14.2678 2.13313 14.2678 4.75589V5.90851H16.7682C17.4057 5.90851 17.9208 6.42358 17.9208 7.06112V14.0725C17.9208 16.7696 15.7143 19 12.9933 19H6.1288C3.35822 19 1.07822 16.72 1.07822 13.9494V7.47684C1.07822 6.61888 1.78923 5.90786 2.6472 5.90786L2.64735 5.90851ZM6.91342 5.90851H12.0866V4.75589C12.0866 3.35835 10.9094 2.18196 9.51262 2.18196C8.09059 2.18196 6.91418 3.35907 6.91418 4.75589V5.90851H6.91342Z" fill="#33336C"/>
        </g>
        <defs>
          <clipPath id="clip0_901_144">
            <rect width="19" height="19" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </button>
  </nav>
</header>



<main id="main" role="main" data-router-wrapper>
  {% if template.name == "index" %}
    {% assign namespace = "home" %}
  {% elsif template.suffix == 'gummy-trial' %}
    {% assign namespace = "product-trial" %}
  {% elsif template.name == "page" %}
    {% if template.suffix %}
      {% assign namespace = template.suffix %}
    {% else %}
      {% assign namespace = template.name %}
    {% endif %}
  {% else %}
    {% assign namespace = template.name %}
  {% endif %}
  <div class="view-{{ namespace }}" data-router-view="{{ namespace }}">
    {{ content_for_layout }}
  </div>
</main>
{% render 'mini-cart' %}

<div id="click-mask"></div>


{{ '_main.css' | asset_url | stylesheet_tag }}
{{ 'main.js' | asset_url | script_tag }}

{{ content_for_header }}

</body>
</html>
