{% if product.metafields.accentuate.copy_block_header[0] %}
<div class="inner">
{% if product.metafields.accentuate.copy_block_header[0] %}
<div class="text-block">
    <svg class="ice-block" width="1028" height="401" preserveAspectRatio="none" viewBox="0 0 1028 401" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_1130_7266)">
            <path d="M8.28386 12.6215C9.13533 11.0985 10.7108 10.1171 12.4456 10.029L65.3644 7.34066L129.242 6.84001L193.12 6.33936L224.424 10.0058C224.835 10.0539 225.251 10.0507 225.663 9.99606L256.997 5.83871L512.508 3.83611L768.018 1.83351L831.896 1.33286L863.2 4.99927C863.611 5.04745 864.028 5.04418 864.439 4.98956L895.773 0.832211L958.693 0.339067C959.326 0.334108 959.953 0.449288 960.54 0.678492L986.207 10.7C986.531 10.8266 986.867 10.9186 987.212 10.9747L1019.31 16.2076C1021.71 16.5989 1023.46 18.667 1023.45 21.1036L1023.4 33.9393L1023.27 68.0476L1023.01 136.264L1022.52 262.435L1022.28 325.52L1022.16 357.063L1022.11 371.664C1022.1 372.434 1021.92 373.195 1021.58 373.887L1016.58 383.95C1015.75 385.61 1014.08 386.691 1012.24 386.763L958.165 388.855L894.289 389.104L830.412 389.353L766.535 389.602L702.661 389.097L638.782 390.1L511.029 390.599L255.51 394.613L191.633 395.114L127.763 393.602L63.8776 396.115L17.6102 391.775C16.7966 391.698 16.0165 391.423 15.3383 390.974L2.27408 382.312C0.890721 381.395 0.0641564 379.843 0.0705383 378.174L0.12064 365.073L0.24127 333.531L0.48253 270.445L0.965049 144.275L1.22593 76.058L1.35637 41.9497L1.41662 26.1955C1.41988 25.343 1.64106 24.5029 2.05915 23.7551L8.28386 12.6215Z" fill="#E9F7FB"/>
            <path d="M864.559 5.98087L864.439 4.98956L864.56 5.98087L895.832 1.83172L958.69 1.33906C959.196 1.33509 959.697 1.42723 960.167 1.6106L985.834 11.6321C986.222 11.784 986.627 11.8944 987.039 11.9618L1019.14 17.1946C1021.06 17.5077 1022.45 19.1621 1022.45 21.1115L1022.4 33.9471L1022.27 68.0554L1022.01 136.272L1021.52 262.443L1021.28 325.528L1021.16 357.071L1021.11 371.672C1021.1 372.288 1020.96 372.896 1020.68 373.45L1015.68 383.513C1015.02 384.841 1013.69 385.706 1012.21 385.763L958.173 387.855L958.156 387.855L894.296 388.104L830.42 388.353L766.555 388.602L766.543 388.602L702.681 388.097L702.669 388.096L702.657 388.097L638.79 389.1L638.778 389.1L511.036 389.598L511.025 389.599L255.514 393.613L255.506 393.614L191.653 394.114L127.798 392.603L127.767 392.602L127.735 392.603L63.9163 395.114L17.7151 390.779C17.0642 390.718 16.4401 390.498 15.8976 390.138L2.83334 381.477C1.72666 380.743 1.0654 379.501 1.07051 378.166L1.12061 365.066L1.24124 333.523L1.4825 270.438L1.96502 144.267L2.2259 76.0502L2.35634 41.9418L2.41659 26.1877C2.4192 25.5057 2.59615 24.8336 2.93062 24.2354L9.15533 13.1017C9.8365 11.8833 11.0969 11.0982 12.4847 11.0277L65.3821 8.34048L129.238 7.84L193.054 7.33984L224.296 10.999C224.79 11.0568 225.289 11.0529 225.783 10.9874L257.056 6.83821L512.504 4.8361L768.014 2.8335L831.83 2.33334L863.072 5.99253C863.566 6.05034 864.065 6.04642 864.559 5.98087Z" stroke="#00142D" stroke-width="2" vector-effect="non-scaling-stroke"/>
        </g>
        <defs>
            <filter id="filter0_d_1130_7266" x="0.0703125" y="0.338867" width="1027.38" height="399.777" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1130_7266"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1130_7266" result="shape"/>
            </filter>
        </defs>
    </svg>
    <img class="preload-critical icon" {% if section.settings.igloo_icon.alt %} alt="{{ section.settings.igloo_icon.alt }}"{% endif %} data-preload-desktop="https:{{ section.settings.igloo_icon | image_url }}" data-preload-mobile="https:{{ section.settings.igloo_icon | image_url }}">
    {% for copy_block_header in product.metafields.accentuate.copy_block_header[0] %}
        <h2>{{ copy_block_header }}</h2>
    {% endfor %}
    {% for copy_block_content in product.metafields.accentuate.copy_block_content[0] %}
        <div class="copy">{{ copy_block_content }}</div>
    {% endfor %}
</div>
{% endif %}
{% if product.metafields.accentuate.copy_block_header[0] %}
<div class="text-block">
    <svg class="ice-block" width="1028" height="401" preserveAspectRatio="none" viewBox="0 0 1028 401" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_1130_7266)">
            <path d="M8.28386 12.6215C9.13533 11.0985 10.7108 10.1171 12.4456 10.029L65.3644 7.34066L129.242 6.84001L193.12 6.33936L224.424 10.0058C224.835 10.0539 225.251 10.0507 225.663 9.99606L256.997 5.83871L512.508 3.83611L768.018 1.83351L831.896 1.33286L863.2 4.99927C863.611 5.04745 864.028 5.04418 864.439 4.98956L895.773 0.832211L958.693 0.339067C959.326 0.334108 959.953 0.449288 960.54 0.678492L986.207 10.7C986.531 10.8266 986.867 10.9186 987.212 10.9747L1019.31 16.2076C1021.71 16.5989 1023.46 18.667 1023.45 21.1036L1023.4 33.9393L1023.27 68.0476L1023.01 136.264L1022.52 262.435L1022.28 325.52L1022.16 357.063L1022.11 371.664C1022.1 372.434 1021.92 373.195 1021.58 373.887L1016.58 383.95C1015.75 385.61 1014.08 386.691 1012.24 386.763L958.165 388.855L894.289 389.104L830.412 389.353L766.535 389.602L702.661 389.097L638.782 390.1L511.029 390.599L255.51 394.613L191.633 395.114L127.763 393.602L63.8776 396.115L17.6102 391.775C16.7966 391.698 16.0165 391.423 15.3383 390.974L2.27408 382.312C0.890721 381.395 0.0641564 379.843 0.0705383 378.174L0.12064 365.073L0.24127 333.531L0.48253 270.445L0.965049 144.275L1.22593 76.058L1.35637 41.9497L1.41662 26.1955C1.41988 25.343 1.64106 24.5029 2.05915 23.7551L8.28386 12.6215Z" fill="#E9F7FB"/>
            <path d="M864.559 5.98087L864.439 4.98956L864.56 5.98087L895.832 1.83172L958.69 1.33906C959.196 1.33509 959.697 1.42723 960.167 1.6106L985.834 11.6321C986.222 11.784 986.627 11.8944 987.039 11.9618L1019.14 17.1946C1021.06 17.5077 1022.45 19.1621 1022.45 21.1115L1022.4 33.9471L1022.27 68.0554L1022.01 136.272L1021.52 262.443L1021.28 325.528L1021.16 357.071L1021.11 371.672C1021.1 372.288 1020.96 372.896 1020.68 373.45L1015.68 383.513C1015.02 384.841 1013.69 385.706 1012.21 385.763L958.173 387.855L958.156 387.855L894.296 388.104L830.42 388.353L766.555 388.602L766.543 388.602L702.681 388.097L702.669 388.096L702.657 388.097L638.79 389.1L638.778 389.1L511.036 389.598L511.025 389.599L255.514 393.613L255.506 393.614L191.653 394.114L127.798 392.603L127.767 392.602L127.735 392.603L63.9163 395.114L17.7151 390.779C17.0642 390.718 16.4401 390.498 15.8976 390.138L2.83334 381.477C1.72666 380.743 1.0654 379.501 1.07051 378.166L1.12061 365.066L1.24124 333.523L1.4825 270.438L1.96502 144.267L2.2259 76.0502L2.35634 41.9418L2.41659 26.1877C2.4192 25.5057 2.59615 24.8336 2.93062 24.2354L9.15533 13.1017C9.8365 11.8833 11.0969 11.0982 12.4847 11.0277L65.3821 8.34048L129.238 7.84L193.054 7.33984L224.296 10.999C224.79 11.0568 225.289 11.0529 225.783 10.9874L257.056 6.83821L512.504 4.8361L768.014 2.8335L831.83 2.33334L863.072 5.99253C863.566 6.05034 864.065 6.04642 864.559 5.98087Z" stroke="#00142D" stroke-width="2" vector-effect="non-scaling-stroke"/>
        </g>
        <defs>
            <filter id="filter0_d_1130_7266" x="0.0703125" y="0.338867" width="1027.38" height="399.777" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="4" dy="4"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1130_7266"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1130_7266" result="shape"/>
            </filter>
        </defs>
    </svg>
    {% for copy_block_header in product.metafields.accentuate.copy_block_header[1] %}
        <h2>{{ copy_block_header }}</h2>
    {% endfor %}
    {% for copy_block_content in product.metafields.accentuate.copy_block_content[1] %}
        <div class="copy">{{ copy_block_content }}</div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endif %}

{% schema %}
{
"name": "About Section",
"tag": "section",
"class": "about-section mw max-width",
"settings": [
    {
        "id": "igloo_icon",
        "type": "image_picker",
        "label": "Igloo Icon"
    }
]
}
{% endschema %}
