<div class="block mw">
  <svg width="290" height="166" viewBox="0 0 290 166" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_793_4099)">
      <path d="M5.82717 21.0664C6.41447 19.2007 8.03571 17.8488 9.97655 17.6063L21.4209 16.1764L38.2634 15.1302L54.6575 14.1118C54.9559 14.0933 55.2553 14.1015 55.5522 14.1365L62.7222 14.9808C63.3173 15.0509 63.92 15.0135 64.5018 14.8703L71.5122 13.1451C71.8025 13.0736 72.0986 13.0284 72.397 13.0098L139.319 8.85275L206.689 4.6678L223.083 3.64942C223.381 3.63089 223.681 3.63915 223.978 3.67412L231.148 4.51846C231.743 4.58853 232.345 4.55108 232.927 4.40791L239.938 2.68271C240.228 2.61126 240.524 2.566 240.822 2.54747L255.88 1.6121C256.756 1.55772 257.63 1.73461 258.415 2.12502L263.982 4.8915C264.401 5.09987 264.847 5.24833 265.308 5.33252L270.616 6.30281C272.876 6.71611 274.564 8.61742 274.707 10.9113L274.869 13.5299L275.68 26.577L277.301 52.6711L280.299 100.934L281.798 125.065L282.547 137.131L282.871 142.335C282.905 142.884 282.848 143.434 282.703 143.964L282.352 145.249C281.809 147.233 280.107 148.682 278.062 148.901L266.448 150.146L249.6 151.096L232.751 152.046L215.903 152.996L199.036 153.658L182.206 154.896L148.509 156.796L81.1864 161.751L64.3439 162.797L47.4535 163.074L31.1376 164.838C30.8191 164.872 30.4981 164.876 30.1789 164.849L19.6206 163.957C18.5755 163.868 17.5847 163.454 16.7883 162.771L15.0473 161.279C14.0208 160.4 13.3942 159.142 13.3104 157.793L13.0668 153.87L12.3173 141.805L10.8182 117.673L7.82024 69.4109L6.1993 43.3168L5.38884 30.2697L5.04114 24.6724C5.00311 24.0601 5.07805 23.4461 5.26224 22.861L5.82717 21.0664Z" fill="url(#paint0_linear_793_4099)"/>
      <path d="M148.452 155.798L148.444 155.798L148.435 155.799L81.1244 160.753L81.1183 160.753L64.3048 161.798L47.4371 162.074L47.3915 162.075L47.346 162.08L31.0301 163.844C30.7753 163.871 30.5185 163.874 30.2632 163.853L19.7048 162.96C18.8688 162.89 18.0761 162.558 17.439 162.012L15.698 160.52C14.8768 159.816 14.3755 158.81 14.3085 157.731L14.0648 153.808L13.3153 141.743L11.8163 117.611L8.81831 69.3489L7.19738 43.2548L6.38691 30.2077L6.03921 24.6104C6.00879 24.1206 6.06875 23.6294 6.21609 23.1613L6.78103 21.3667C7.25086 19.8741 8.54785 18.7926 10.1005 18.5986L21.514 17.1726L38.3254 16.1283L54.7195 15.1099C54.9582 15.0951 55.1978 15.1017 55.4353 15.1296L62.6053 15.974C63.3193 16.0581 64.0426 16.0131 64.7408 15.8413L71.7511 14.1161C71.9834 14.059 72.2203 14.0228 72.459 14.0079L139.381 9.85083L206.751 5.66588L223.145 4.6475C223.384 4.63267 223.623 4.63928 223.861 4.66726L231.031 5.51159C231.745 5.59568 232.468 5.55075 233.166 5.37894L240.177 3.65373C240.409 3.59658 240.646 3.56037 240.884 3.54554L255.942 2.61018C256.642 2.56667 257.342 2.70818 257.97 3.02051L263.537 5.78699C264.04 6.03704 264.575 6.21519 265.128 6.31622L270.436 7.28651C272.244 7.61715 273.595 9.1382 273.709 10.9733L273.871 13.5919L274.682 26.639L276.303 52.7331L279.301 100.996L280.8 125.127L281.549 137.193L281.873 142.397C281.9 142.836 281.855 143.276 281.739 143.7L281.387 144.985C280.953 146.572 279.591 147.732 277.955 147.907L266.367 149.149L249.544 150.098L232.695 151.048L215.864 151.997L215.846 151.998L198.997 152.658L198.98 152.659L198.963 152.66L182.149 153.898L182.141 153.898L148.452 155.798Z" stroke="#00142D" stroke-width="2"/>
    </g>
    <path d="M56.5381 21.4933C56.9288 21.2147 57.1196 20.7326 57.0254 20.262C56.9313 19.7915 56.5696 19.42 56.1018 19.3132L40.4187 15.7334C40.2896 15.7039 40.1567 15.6957 40.025 15.709L21.3695 17.5948C20.7267 17.6598 20.2464 18.2152 20.2747 18.8606L20.3421 20.3962L11.6539 18.0755C11.3618 17.9975 11.0511 18.0308 10.7822 18.1691L3.97593 21.6689C3.50056 21.9133 3.23999 22.4391 3.33335 22.9654L9.38036 57.0582C9.47665 57.6011 9.92546 58.0117 10.4747 58.0594C11.024 58.1071 11.5369 57.78 11.7253 57.2619L19.721 35.2762L25.1663 36.4703C25.3885 36.5191 25.62 36.5046 25.8344 36.4286L45.0764 29.6087C45.1833 29.5708 45.2844 29.5182 45.3768 29.4523L56.5381 21.4933Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
    <path d="M229.233 144.645C228.816 144.904 228.595 145.389 228.673 145.874C228.751 146.359 229.112 146.749 229.59 146.865L246.819 151.024C246.939 151.053 247.062 151.063 247.185 151.055L267.894 149.684C268.541 149.642 269.041 149.1 269.032 148.452L269.01 146.789L278.737 149.494C279.009 149.569 279.299 149.548 279.557 149.434L287.211 146.042C287.715 145.819 288.007 145.285 287.922 144.74L282.422 109.499C282.338 108.962 281.909 108.546 281.37 108.478C280.832 108.41 280.313 108.706 280.098 109.205L270.447 131.652L264.311 130.223C264.105 130.175 263.89 130.181 263.686 130.242L242.156 136.668C242.052 136.699 241.953 136.744 241.862 136.801L229.233 144.645Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
    <defs>
      <filter id="filter0_d_793_4099" x="5.03149" y="1.60254" width="281.849" height="167.264" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_793_4099"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_793_4099" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_793_4099" x1="3.77421" y1="16.8679" x2="297.185" y2="70.4832" gradientUnits="userSpaceOnUse">
        <stop stop-color="#C1ECFF"/>
        <stop offset="0.25" stop-color="#C1ECFF"/>
        <stop offset="0.381662" stop-color="white"/>
        <stop offset="0.608286" stop-color="#C2ECFF"/>
        <stop offset="1" stop-color="#C1ECFF"/>
      </linearGradient>
    </defs>
  </svg>
  <svg width="117" height="103" viewBox="0 0 117 103" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_868_18297)">
      <path d="M6.09416 10.5792C6.40496 9.2955 7.48899 8.3456 8.80241 8.20606L12.4388 7.81973L19.1281 7.73858L25.3981 7.66252C25.6764 7.65914 25.9539 7.69295 26.2232 7.76303L28.3466 8.31552C28.8877 8.45631 29.4567 8.44941 29.9942 8.29553L32.1035 7.6917C32.3711 7.6151 32.6477 7.57458 32.926 7.5712L59.2638 7.25169L86.021 6.9271L92.291 6.85104C92.5693 6.84766 92.8468 6.88147 93.1162 6.95155L95.2395 7.50403C95.7806 7.64483 96.3496 7.63793 96.8871 7.48405L98.9964 6.88022C99.264 6.80362 99.5406 6.76309 99.8189 6.75972L104.92 6.69784C105.674 6.68869 106.406 6.95241 106.98 7.44038L108.523 8.74981C108.809 8.99216 109.136 9.18124 109.488 9.30802L110.784 9.77426C112.012 10.2159 112.836 11.3735 112.852 12.6781L112.873 14.4148L112.968 22.2272L113.157 37.8518L113.508 66.7505L113.683 81.1999L113.771 88.4246L113.81 91.6874C113.813 91.9197 113.79 92.1515 113.742 92.3787L113.626 92.9189C113.337 94.2706 112.195 95.2722 110.817 95.382L107.168 95.6728L100.478 95.6963L93.7884 95.7198L87.0985 95.7434L80.4064 95.5941L73.7185 95.7904L60.3385 95.8375L33.5869 96.623L26.8976 96.7042L20.2027 96.3244L13.9701 96.8299C13.6709 96.8541 13.3699 96.8352 13.0761 96.7736L9.73792 96.0741C8.96106 95.9112 8.2752 95.459 7.81948 94.8092L7.3406 94.1263C6.97925 93.611 6.78184 92.9986 6.7742 92.3692L6.7421 89.7229L6.65446 82.4983L6.47917 68.0489L6.1286 39.1502L5.93906 23.5255L5.84428 15.7132L5.80166 12.1993C5.7985 11.9388 5.82791 11.679 5.88921 11.4258L6.09416 10.5792Z" fill="url(#paint0_linear_868_18297)"/>
      <path d="M80.4203 94.969L80.4042 94.9686L80.388 94.9691L73.7082 95.1652L60.3363 95.2123L60.3282 95.2123L60.3201 95.2125L33.5793 95.9978L33.5743 95.9978L26.9115 96.0787L20.2381 95.7001L20.1951 95.6977L20.1522 95.7012L13.9195 96.2067C13.6802 96.2261 13.4394 96.2109 13.2044 96.1617L9.86617 95.4621C9.24468 95.3318 8.696 94.9701 8.33142 94.4502L7.85254 93.7673L7.3406 94.1263L7.85254 93.7673C7.56346 93.355 7.40553 92.8651 7.39942 92.3616L7.36732 89.7153L7.27967 82.4907L7.10439 68.0413L6.75382 39.1426L6.56427 23.518L6.4695 15.7056L6.42687 12.1917C6.42435 11.9833 6.44788 11.7754 6.49692 11.5729L6.70187 10.7264C6.95051 9.69938 7.81773 8.93945 8.86847 8.82782L12.4757 8.44459L19.1357 8.3638L25.4056 8.28774C25.6283 8.28504 25.8503 8.31208 26.0658 8.36815L28.1891 8.92063C28.8385 9.08959 29.5212 9.08131 30.1663 8.89665L32.2756 8.29282C32.4897 8.23154 32.7109 8.19912 32.9336 8.19642L59.2714 7.87691L86.0286 7.55232L92.2986 7.47626C92.5212 7.47356 92.7432 7.5006 92.9587 7.55667L95.082 8.10915C95.7314 8.27811 96.4142 8.26982 97.0592 8.08516L99.1685 7.48133C99.3826 7.42005 99.6039 7.38763 99.8265 7.38493L104.927 7.32306C105.53 7.31574 106.116 7.52671 106.576 7.91709L108.119 9.22652L108.523 8.74981L108.119 9.22652C108.461 9.51734 108.853 9.74423 109.276 9.89637L110.572 10.3626C111.555 10.7159 112.214 11.642 112.227 12.6857L112.248 14.4224L112.343 22.2347L112.532 37.8594L112.883 66.7581L113.058 81.2075L113.146 88.4321L113.185 91.695C113.187 91.8808 113.169 92.0663 113.13 92.248L113.015 92.7882C112.784 93.8696 111.87 94.6709 110.767 94.7587L107.142 95.0476L100.476 95.071L93.7862 95.0946L87.1045 95.1181L80.4203 94.969Z" stroke="#00142D" stroke-width="1.25053"/>
    </g>
    <path d="M23.7537 4.54479C23.6741 4.52237 23.5913 4.51308 23.5086 4.51729L12.3164 5.08673C11.913 5.10726 11.5957 5.43909 11.5932 5.84304L11.588 6.71588L6.51456 5.08555C6.33457 5.02771 6.13951 5.03885 5.96728 5.11681L1.80005 7.003C1.49556 7.14082 1.31645 7.46099 1.35833 7.79258L3.95143 28.3239C3.99463 28.6659 4.2621 28.9363 4.60362 28.9832C4.94515 29.0301 5.27563 28.8419 5.40947 28.5242L10.8265 15.6659L14.0129 16.5333C14.1502 16.5706 14.2951 16.5688 14.4314 16.5281L26.1208 13.0308C26.1888 13.0105 26.2536 12.9808 26.3133 12.9425L33.2131 8.52433C33.4658 8.36252 33.6 8.06745 33.5559 7.77064C33.5118 7.47383 33.2975 7.23057 33.0087 7.14928L23.7537 4.54479Z" fill="white" stroke="#00142D" stroke-width="1.52381" stroke-linejoin="round"/>
    <path d="M90.4747 98.037C90.5486 98.0588 90.6254 98.0692 90.7025 98.068L103.105 97.8673C103.51 97.8607 103.839 97.5383 103.854 97.1334L103.889 96.1844L109.572 98.075C109.74 98.1308 109.921 98.1266 110.086 98.0632L114.756 96.267C115.078 96.1432 115.276 95.8189 115.24 95.4761L113.008 74.2753C112.973 73.9376 112.718 73.6642 112.383 73.6049C112.049 73.5456 111.716 73.7147 111.566 74.0196L105.148 87.1057L101.555 86.0774C101.428 86.0409 101.293 86.0383 101.165 86.0698L88.1208 89.264C88.0552 89.2801 87.9919 89.3048 87.9328 89.3376L80.1605 93.6434C79.8918 93.7922 79.7388 94.0878 79.7724 94.3932C79.806 94.6985 80.0196 94.9538 80.3142 95.0406L90.4747 98.037Z" fill="white" stroke="#00142D" stroke-width="1.52381" stroke-linejoin="round"/>
    <defs>
      <filter id="filter0_d_868_18297" x="5.80151" y="6.69751" width="110.51" height="92.6436" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="2.50105" dy="2.50105"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_868_18297"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_868_18297" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_868_18297" x1="5.43715" y1="7.66321" x2="124.28" y2="25.708" gradientUnits="userSpaceOnUse">
        <stop stop-color="#C1ECFF"/>
        <stop offset="0.25" stop-color="#C1ECFF"/>
        <stop offset="0.381662" stop-color="white"/>
        <stop offset="0.608286" stop-color="#C2ECFF"/>
        <stop offset="1" stop-color="#C1ECFF"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="inner">
    <p>{{ section.settings.eyebrow_1 }}</p>
    <p>{{ section.settings.copy_1 }}</p>
  </div>
</div><div class="block mw">
  <svg width="290" height="157" viewBox="0 0 290 157" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_793_4106)">
      <path d="M1.57824 4.77342C2.29482 2.97195 3.98822 1.7471 5.92348 1.63051L18.2849 0.885742H36.0974H53.4754C53.7645 0.885742 54.0531 0.91082 54.3379 0.960693L61.9537 2.2944C62.5243 2.39433 63.108 2.39433 63.6787 2.2944L71.2944 0.960694C71.5792 0.91082 71.8678 0.885742 72.1569 0.885742H142.972H214.222H231.6C231.89 0.885742 232.178 0.91082 232.463 0.960693L240.079 2.2944C240.649 2.39433 241.233 2.39433 241.804 2.2944L249.419 0.960694C249.704 0.91082 249.993 0.885742 250.282 0.885742H266.36C267.212 0.885742 268.051 1.10364 268.795 1.51873L274.611 4.76166C275.01 4.98412 275.438 5.15086 275.882 5.25722L281.637 6.63506C283.886 7.17362 285.472 9.18468 285.472 11.4976V14.2211V27.5566V54.2274V103.557V128.221V140.553V145.863C285.472 146.43 285.376 146.993 285.187 147.528L284.697 148.915C284.018 150.839 282.237 152.157 280.199 152.245L267.66 152.787L249.847 152.689L232.035 152.591L214.222 152.492L196.41 152.099L178.597 152.296L142.972 152.099L71.7224 152.886H53.9099L36.0974 152.099L18.75 152.865C18.4406 152.879 18.1306 152.864 17.8241 152.82L6.59615 151.22C5.57844 151.075 4.63017 150.62 3.88046 149.917L2.05145 148.201C1.04396 147.256 0.472412 145.936 0.472412 144.554V140.553V128.221V103.557V54.2274V27.5566V14.2211V8.51138C0.472412 7.87851 0.592559 7.2514 0.826473 6.66334L1.57824 4.77342Z" fill="url(#paint0_linear_793_4106)"/>
      <path d="M196.432 151.099L196.415 151.099L196.399 151.099L178.603 151.296L178.595 151.296L142.978 151.099L142.97 151.099L142.961 151.099L71.7224 151.886H71.7169H53.9319L36.1415 151.1L36.0974 151.098L36.0533 151.1L18.7058 151.866C18.4583 151.877 18.2104 151.865 17.9651 151.83L6.7372 150.23C5.92304 150.114 5.16442 149.75 4.56465 149.188L2.73564 147.472C1.92965 146.716 1.47241 145.66 1.47241 144.554V140.553V128.221V103.557V54.2274V27.5566V14.2211V8.51138C1.47241 8.00508 1.56853 7.50339 1.75566 7.03295L2.50742 5.14303C3.08069 3.70185 4.43542 2.72197 5.98362 2.6287L18.315 1.88574H36.0974H53.4754C53.7067 1.88574 53.9376 1.9058 54.1654 1.9457L61.7812 3.2794C62.466 3.39933 63.1664 3.39933 63.8512 3.2794L71.4669 1.9457C71.6947 1.9058 71.9256 1.88574 72.1569 1.88574H142.972H214.222H231.6C231.832 1.88574 232.063 1.9058 232.29 1.9457L239.906 3.2794C240.591 3.39933 241.291 3.39933 241.976 3.2794L249.592 1.9457C249.82 1.9058 250.051 1.88574 250.282 1.88574H266.36C267.042 1.88574 267.713 2.06006 268.308 2.39213L274.124 5.63507C274.603 5.90202 275.116 6.1021 275.649 6.22973L281.404 7.60757C283.203 8.03842 284.472 9.64727 284.472 11.4976V14.2211V27.5566V54.2274V103.557V128.221V140.553V145.863C284.472 146.316 284.395 146.767 284.244 147.195L283.754 148.582C283.211 150.121 281.786 151.175 280.155 151.246L267.641 151.787L249.853 151.689L232.04 151.591L214.244 151.493L214.228 151.492L196.432 151.099Z" stroke="#00142D" stroke-width="2"/>
    </g>
    <defs>
      <filter id="filter0_d_793_4106" x="0.472412" y="0.885742" width="289" height="156" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_793_4106"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_793_4106" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_793_4106" x1="-0.35157" y1="0.473636" x2="304.013" y2="78.4702" gradientUnits="userSpaceOnUse">
        <stop stop-color="#C1ECFF"/>
        <stop offset="0.25" stop-color="#C1ECFF"/>
        <stop offset="0.381662" stop-color="white"/>
        <stop offset="0.608286" stop-color="#C2ECFF"/>
        <stop offset="1" stop-color="#C1ECFF"/>
      </linearGradient>
    </defs>
  </svg>
  <svg width="142" height="95" viewBox="0 0 142 95" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_868_18292)">
      <path d="M1.13683 3.57538C1.52746 2.36512 2.61228 1.5121 3.88052 1.41793L9.30862 1.01489H17.939H26.2359C26.4576 1.01489 26.6787 1.03848 26.8954 1.08525L30.2251 1.80386C30.6598 1.89768 31.1095 1.89768 31.5442 1.80386L34.8738 1.08525C35.0905 1.03848 35.3116 1.01489 35.5333 1.01489H69.7214H104.243H112.54C112.762 1.01489 112.983 1.03848 113.199 1.08525L116.529 1.80386C116.964 1.89768 117.413 1.89768 117.848 1.80386L121.178 1.08525C121.395 1.03848 121.616 1.01489 121.837 1.01489H129.164C129.796 1.01489 130.413 1.20656 130.934 1.56459L133.384 3.24812C133.655 3.4345 133.954 3.57688 134.27 3.67001L136.523 4.33485C137.852 4.72705 138.765 5.9475 138.765 7.33335V8.97762V16.9403V32.8658V62.3209V77.0484V84.4121V87.6549C138.765 87.9462 138.724 88.2361 138.644 88.5162L138.458 89.1642C138.091 90.446 136.951 91.3538 135.619 91.4248L130.134 91.7172L121.504 91.6585L112.873 91.5997L104.243 91.541L95.6126 91.3061L86.9822 91.4236L69.7214 91.3061L35.1998 91.7759H26.5694L17.939 91.3061L9.66636 91.7564C9.42864 91.7694 9.19023 91.7551 8.95576 91.7139L3.98356 90.8409C3.2747 90.7164 2.6305 90.3512 2.15968 89.8068L1.43998 88.9747C0.948631 88.4067 0.678223 87.6807 0.678223 86.9296V84.4121V77.0484V62.3209V32.8658V16.9403V8.97762V5.48829C0.678223 5.16228 0.729217 4.83826 0.829358 4.52801L1.13683 3.57538Z" fill="url(#paint0_linear_868_18292)"/>
      <path d="M121.31 1.69645L121.178 1.08525L121.31 1.69645C121.483 1.65903 121.66 1.64016 121.837 1.64016H129.164C129.669 1.64016 130.163 1.79349 130.58 2.07992L133.03 3.76345C133.355 3.98709 133.714 4.15796 134.093 4.26972L136.346 4.93455C137.409 5.24831 138.139 6.22467 138.139 7.33335V8.97762V16.9403V32.8658V62.3209V77.0484V84.4121V87.6549C138.139 87.8879 138.107 88.1199 138.043 88.3439L137.857 88.9919C137.563 90.0174 136.651 90.7436 135.586 90.8004L130.12 91.0918L121.508 91.0332L112.878 90.9745L104.253 90.9158L95.6296 90.6811L95.6169 90.6807L95.6041 90.6809L86.9802 90.7983L69.7257 90.6809V90.6807L69.7129 90.6809L35.1998 91.1506H35.1958H26.5863L17.973 90.6818L17.939 90.6799L17.905 90.6818L9.63237 91.1321C9.4422 91.1424 9.25146 91.131 9.06388 91.0981L4.0917 90.225C3.52461 90.1255 3.00925 89.8333 2.6326 89.3978L1.91289 88.5657C1.51981 88.1112 1.30349 87.5304 1.30349 86.9296V84.4121V77.0484V62.3209V32.8658V16.9403V8.97762V5.48829C1.30349 5.22748 1.34428 4.96827 1.42439 4.72006L1.73187 3.76744C2.04437 2.79923 2.91223 2.11681 3.92682 2.04148L9.3318 1.64016H17.939H26.2359C26.4133 1.64016 26.5901 1.65903 26.7635 1.69645L30.0932 2.41505C30.6148 2.52763 31.1544 2.52763 31.6761 2.41505L35.0057 1.69645C35.1791 1.65903 35.356 1.64016 35.5333 1.64016H69.7214H104.243H112.54C112.717 1.64016 112.894 1.65902 113.068 1.69645L116.397 2.41505C116.919 2.52763 117.458 2.52763 117.98 2.41505L121.31 1.69645Z" stroke="#00142D" stroke-width="1.25053"/>
    </g>
    <defs>
      <filter id="filter0_d_868_18292" x="0.678223" y="1.01489" width="140.587" height="93.262" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="2.50105" dy="2.50105"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_868_18292"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_868_18292" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_868_18292" x1="0.278992" y1="0.768819" x2="150.919" y2="32.0924" gradientUnits="userSpaceOnUse">
        <stop stop-color="#C1ECFF"/>
        <stop offset="0.25" stop-color="#C1ECFF"/>
        <stop offset="0.381662" stop-color="white"/>
        <stop offset="0.608286" stop-color="#C2ECFF"/>
        <stop offset="1" stop-color="#C1ECFF"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="inner">
      <p>{{ section.settings.eyebrow_2 }}</p>
      <p>{{ section.settings.copy_2 }}</p>
    </div>
</div><div class="block mw">
  <svg width="265" height="165" viewBox="0 0 265 165" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_793_4111)">
      <path d="M14.0702 10.136C14.8321 8.28058 16.6216 7.04376 18.6209 6.99075L28.8096 6.72064L44.2165 7.36169L59.1328 7.98232C59.4591 7.9959 59.783 8.04142 60.0998 8.11822L66.2837 9.6175C66.9188 9.77147 67.5794 9.79896 68.228 9.6984L74.544 8.71921C74.8676 8.66905 75.1949 8.65063 75.5213 8.66421L136.658 11.208L198.286 13.7722L213.203 14.3928C213.529 14.4064 213.853 14.4519 214.17 14.5287L220.354 16.028C220.989 16.182 221.649 16.2095 222.298 16.1089L228.614 15.1297C228.937 15.0796 229.265 15.0611 229.591 15.0747L243.062 15.6352C244.006 15.6745 244.917 15.9805 245.688 16.5178L250.206 19.6639C250.613 19.9472 251.061 20.1677 251.535 20.318L255.932 21.713C258.077 22.3937 259.483 24.4311 259.363 26.6853L259.218 29.396L258.522 42.4556L257.13 68.5748L254.555 116.884L253.268 141.038L252.624 153.115L252.343 158.394C252.316 158.898 252.213 159.396 252.037 159.87L251.595 161.067C250.864 163.041 248.983 164.364 246.883 164.379L236.579 164.455L221.177 163.718L205.775 162.981L190.373 162.243L174.987 161.217L159.57 160.768L128.766 159.294L67.0971 157.5L51.6901 156.859L36.3242 155.447L21.4034 155.572C21.0528 155.575 20.7034 155.542 20.3608 155.471L11.1752 153.591C10.0967 153.37 9.12562 152.799 8.41325 151.965L7.07151 150.395C6.24897 149.433 5.82871 148.189 5.89649 146.918L6.11281 142.859L6.75648 130.781L8.04382 106.627L10.6185 58.318L12.0105 32.1988L12.7066 19.1392L13.0092 13.4605C13.0392 12.8972 13.1644 12.3418 13.3795 11.8181L14.0702 10.136Z" fill="url(#paint0_linear_793_4111)"/>
      <path d="M175.065 160.22L175.046 160.218L175.028 160.218L159.629 159.77L159.62 159.77L128.825 158.295L128.816 158.295L128.807 158.295L67.1503 156.501L67.1439 156.501L51.7682 155.861L36.4272 154.452L36.3774 154.448L36.3274 154.448L21.4066 154.573C21.1262 154.575 20.8466 154.548 20.5725 154.492L11.3869 152.612C10.5241 152.435 9.74727 151.978 9.17738 151.311L7.83565 149.741C7.17761 148.972 6.8414 147.976 6.89562 146.959L7.11195 142.9L7.75561 130.823L9.04295 106.668L11.6176 58.3595L13.0097 32.2403L13.7057 19.1808L14.0084 13.5021C14.0324 13.0514 14.1325 12.6071 14.3046 12.1881L14.9953 10.506C15.6048 9.02171 17.0364 8.03225 18.6359 7.98985L28.7904 7.72064L44.1633 8.36027L59.0795 8.98091C59.3407 8.99177 59.5998 9.02818 59.8532 9.08962L66.0371 10.5889C66.7992 10.7737 67.5919 10.8067 68.3702 10.686L74.6863 9.70679C74.9451 9.66667 75.2069 9.65193 75.468 9.6628L136.605 12.2066L198.233 14.7708L213.149 15.3914C213.41 15.4023 213.67 15.4387 213.923 15.5001L220.107 16.9994C220.869 17.1842 221.662 17.2172 222.44 17.0965L228.756 16.1173C229.015 16.0772 229.277 16.0624 229.538 16.0733L243.008 16.6338C243.764 16.6652 244.493 16.9101 245.11 17.3399L249.628 20.4859C250.116 20.8259 250.653 21.0905 251.222 21.2708L255.619 22.6659C257.335 23.2104 258.46 24.8404 258.364 26.6437L258.219 29.3544L257.523 42.414L256.131 68.5332L253.556 116.842L252.269 140.997L251.625 153.074L251.344 158.352C251.323 158.755 251.24 159.154 251.099 159.534L250.657 160.73C250.072 162.309 248.567 163.368 246.888 163.38L236.611 163.456L221.237 162.72L205.835 161.982L190.452 161.246L190.433 161.245L175.065 160.22Z" stroke="#00142D" stroke-width="2"/>
    </g>
    <path d="M50.1238 162.526C50.0157 162.561 49.903 162.581 49.7891 162.585L27.1571 163.358C26.5072 163.381 25.9491 162.89 25.8885 162.243L25.7285 160.532L15.2984 164.303C15.053 164.392 14.7846 164.399 14.5331 164.324L5.85684 161.724C5.30928 161.56 4.94475 161.041 4.97904 160.473L7.14231 124.656C7.17442 124.124 7.54946 123.679 8.06788 123.557C8.5863 123.434 9.12757 123.664 9.40366 124.123L22.3444 145.634L28.9821 143.528C29.1684 143.469 29.3668 143.456 29.5603 143.489L53.6304 147.687C53.7313 147.705 53.8298 147.735 53.9234 147.777L68.4819 154.315C68.943 154.522 69.232 154.989 69.2094 155.491C69.1869 155.993 68.8573 156.426 68.3799 156.582L50.1238 162.526Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
    <path d="M219.722 4.89374C219.832 4.86434 219.946 4.85052 220.06 4.85266L242.697 5.27848C243.347 5.2907 243.873 5.81072 243.894 6.46032L243.947 8.17701L254.593 4.96312C254.843 4.88756 255.111 4.89455 255.357 4.98305L263.855 8.03813C264.392 8.23095 264.723 8.76952 264.653 9.3349L260.261 44.9864C260.196 45.5157 259.794 45.9407 259.269 46.0354C258.744 46.1301 258.218 45.8724 257.971 45.3994L246.396 23.2328L239.639 24.9848C239.45 25.0339 239.251 25.0367 239.06 24.9928L215.297 19.5263C215.197 19.5034 215.101 19.4681 215.01 19.4212L200.887 12.122C200.439 11.8908 200.18 11.4086 200.234 10.9082C200.288 10.4078 200.644 9.99235 201.13 9.86244L219.722 4.89374Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
    <defs>
      <filter id="filter0_d_793_4111" x="5.8894" y="6.7207" width="257.48" height="161.735" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_793_4111"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_793_4111" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_793_4111" x1="12.7114" y1="5.64635" x2="275.606" y2="79.8587" gradientUnits="userSpaceOnUse">
        <stop stop-color="#C1ECFF"/>
        <stop offset="0.25" stop-color="#C1ECFF"/>
        <stop offset="0.381662" stop-color="white"/>
        <stop offset="0.608286" stop-color="#C2ECFF"/>
        <stop offset="1" stop-color="#C1ECFF"/>
      </linearGradient>
    </defs>
  </svg>
  <svg width="124" height="105" viewBox="0 0 124 105" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d_868_18285)">
      <path d="M9.69416 11.4305C10.0376 10.1451 11.1473 9.19562 12.4655 9.05956L16.0507 8.68948L22.6737 8.63434L28.8732 8.58272C29.1542 8.58038 29.4334 8.61599 29.7032 8.68858L31.7658 9.24363C32.3077 9.38948 32.8826 9.38469 33.4293 9.22978L35.5097 8.64023C35.7818 8.56313 36.0621 8.52286 36.3432 8.52052L62.4116 8.30347L88.9036 8.08288L95.103 8.03126C95.3841 8.02892 95.6633 8.06453 95.933 8.13712L97.9956 8.69218C98.5376 8.83803 99.1125 8.83324 99.6591 8.67833L101.74 8.08878C102.012 8.01167 102.292 7.97141 102.573 7.96907L107.594 7.92726C108.354 7.92093 109.083 8.19157 109.645 8.68859L111.121 9.99187C111.399 10.2381 111.721 10.4309 112.071 10.5609L113.325 11.0267C114.534 11.476 115.321 12.6345 115.301 13.9355L115.274 15.6845L115.152 23.5067L114.908 39.1511L114.458 68.0863L114.233 82.5539L114.12 89.7877L114.069 93.0586C114.066 93.2886 114.037 93.5181 113.983 93.7429L113.854 94.2842C113.53 95.6377 112.36 96.6384 110.979 96.7441L107.385 97.019L100.763 97.0165L94.1412 97.0139L87.5191 97.0114L80.8997 96.8358L74.2749 97.0063L61.0307 97.0012L34.5316 97.6833L27.9086 97.7384L21.2928 97.3321L15.1192 97.8131C14.8164 97.8367 14.5129 97.8162 14.2182 97.7522L10.9578 97.044C10.1835 96.8758 9.50974 96.4166 9.07398 95.7602L8.61983 95.0761C8.27842 94.5618 8.10117 93.9533 8.11089 93.329L8.15228 90.6701L8.2649 83.4363L8.49014 68.9686L8.94062 40.0334L9.18418 24.389L9.30595 16.5668L9.3608 13.0441C9.36481 12.7862 9.40071 12.529 9.46767 12.2783L9.69416 11.4305Z" fill="url(#paint0_linear_868_18285)"/>
      <path d="M95.7573 8.74139L95.933 8.13712L95.7573 8.74139L97.8199 9.29645C98.4703 9.47147 99.1601 9.46572 99.8161 9.27983L101.896 8.69028C102.114 8.62859 102.338 8.59638 102.563 8.59451L107.584 8.5527C108.192 8.54764 108.775 8.76415 109.225 9.16176L110.701 10.465C111.035 10.7605 111.422 10.9918 111.842 11.1479L113.095 11.6136C114.063 11.9731 114.692 12.8999 114.676 13.9407L114.649 15.6897L114.527 23.5119L114.283 39.1563L113.833 68.0915L113.608 82.5591L113.495 89.7929L113.444 93.0638C113.441 93.2478 113.418 93.4314 113.375 93.6112L113.246 94.1525C112.987 95.2353 112.051 96.0359 110.946 96.1205L107.376 96.3935L100.778 96.391L94.1563 96.3885L87.5426 96.3859L80.9312 96.2105L80.9149 96.2101L80.8985 96.2105L74.2818 96.3808L61.0459 96.3758L61.0377 96.3757L61.0296 96.376L34.5413 97.0578L34.5362 97.0579L27.9401 97.1128L21.346 96.7078L21.3026 96.7051L21.2591 96.7085L15.0855 97.1896C14.8433 97.2084 14.6005 97.192 14.3647 97.1408L11.1043 96.4326C10.4849 96.2981 9.94584 95.9307 9.59724 95.4056L9.14308 94.7215L8.61994 95.076L9.14308 94.7215C8.86996 94.31 8.72816 93.8233 8.73593 93.3238L8.77733 90.6649L8.88995 83.4311L9.11519 68.9634L9.56566 40.0282L9.80922 24.3838L9.931 16.5616L9.98584 13.0389C9.98906 12.8326 10.0178 12.6268 10.0713 12.4263L10.2978 11.5785C10.5726 10.5501 11.4604 9.79056 12.5149 9.68171L16.0706 9.31468L22.664 9.25978L28.8634 9.20816C29.0883 9.20629 29.3116 9.23478 29.5274 9.29285L31.59 9.8479C32.2404 10.0229 32.9302 10.0172 33.5862 9.83128L35.6666 9.24173C35.8843 9.18005 36.1086 9.14784 36.3334 9.14596L62.4019 8.92891L88.8938 8.70833L95.0933 8.65671C95.3181 8.65483 95.5415 8.68332 95.7573 8.74139Z" stroke="#00142D" stroke-width="1.25053"/>
    </g>
    <path d="M35.6322 101.334C35.5686 101.357 35.5021 101.371 35.4344 101.376L21.2393 102.52C20.8332 102.552 20.4695 102.261 20.4133 101.858L20.2757 100.871L13.8025 103.444C13.6579 103.501 13.4985 103.513 13.346 103.477L7.83426 102.185C7.47921 102.102 7.22964 101.781 7.23798 101.419L7.73172 79.9584C7.73928 79.6296 7.95831 79.3453 8.27449 79.2539C8.59068 79.1625 8.9323 79.2847 9.12109 79.5568L17.7667 92.016L21.9041 90.5511C22.0138 90.5123 22.1314 90.4992 22.2476 90.5128L37.4659 92.296C37.5273 92.3032 37.5876 92.3178 37.6456 92.3394L46.9468 95.8066C47.2473 95.9186 47.448 96.2046 47.4497 96.523C47.4513 96.8415 47.2536 97.1251 46.9543 97.2335L35.6322 101.334Z" fill="white" stroke="#00142D" stroke-width="1.52381" stroke-linejoin="round"/>
    <path d="M89.2072 1.99746C89.2721 1.97766 89.3393 1.9666 89.407 1.96457L103.635 1.53771C104.041 1.5255 104.385 1.83537 104.415 2.24135L104.487 3.2343L111.11 0.989208C111.258 0.93913 111.417 0.935531 111.567 0.978897L116.977 2.54816C117.326 2.64925 117.554 2.98276 117.522 3.34486L115.624 24.7738C115.595 25.1022 115.358 25.3754 115.037 25.4509C114.716 25.5264 114.384 25.387 114.213 25.1054L106.409 12.214L102.188 13.4698C102.076 13.5031 101.958 13.5103 101.843 13.4908L86.7873 10.9405C86.7267 10.9302 86.6675 10.9126 86.6112 10.8881L77.5648 6.95291C77.2725 6.82576 77.091 6.52953 77.1102 6.21077C77.1293 5.89201 77.345 5.6183 77.6505 5.52504L89.2072 1.99746Z" fill="white" stroke="#00142D" stroke-width="1.52381" stroke-linejoin="round"/>
    <defs>
      <filter id="filter0_d_868_18285" x="8.1106" y="7.92725" width="109.692" height="92.3963" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="2.50105" dy="2.50105"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_868_18285"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_868_18285" result="shape"/>
      </filter>
      <linearGradient id="paint0_linear_868_18285" x1="9.12513" y1="8.50545" x2="125.857" y2="29.2565" gradientUnits="userSpaceOnUse">
        <stop stop-color="#C1ECFF"/>
        <stop offset="0.25" stop-color="#C1ECFF"/>
        <stop offset="0.381662" stop-color="white"/>
        <stop offset="0.608286" stop-color="#C2ECFF"/>
        <stop offset="1" stop-color="#C1ECFF"/>
      </linearGradient>
    </defs>
  </svg>
  <div class="inner">
    <p>{{ section.settings.eyebrow_3 }}</p>
    <p>{{ section.settings.copy_3 }}</p>
  </div>
</div>



{% schema %}
{
  "name": "Block Trio",
  "tag": "section",
  "class": "block-trio max-width",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow_1",
      "label": "Eyebrow"
    },
    {
      "type": "text",
      "id": "copy_1",
      "label": "Copy"
    },
    {
      "type": "text",
      "id": "eyebrow_2",
      "label": "Eyebrow"
    },
    {
      "type": "text",
      "id": "copy_2",
      "label": "Copy"
    },
    {
      "type": "text",
      "id": "eyebrow_3",
      "label": "Eyebrow"
    },
    {
      "type": "text",
      "id": "copy_3",
      "label": "Copy"
    }
  ]
}
{% endschema %}