<div class="tile-wrapper">
    {% for block in section.blocks %}
    {% assign thisCollection = block.settings.collection %}
        <a class="tile prefetch-us" href="{{ thisCollection.url }}">
            <svg class="frame" preserveAspectRatio="none" viewBox="0 0 454 540" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="13.5" y="19.5" width="430" height="511" rx="9.5" stroke="#00142D" stroke-width="3"/>
                <path d="M451.177 82.9281C452.335 81.8442 452.971 80.454 452.971 79.0403V36.2747C452.971 20.6529 437.434 8 418.251 8L132.761 9.41758C130.794 9.41758 128.884 9.84171 127.177 10.6664L125.991 11.2554C122.924 12.7399 119.076 12.5985 116.211 10.8549C114.707 9.93595 112.855 9.41758 110.946 9.41758H37.4846C18.302 9.41758 2.76492 22.0704 2.76492 37.6922L2.76492 170.513C2.76492 171.314 2.85172 172.115 2.99638 172.916L4.0669 178.123C4.35623 179.514 3.80651 180.927 2.56238 181.941C1.54973 182.765 1 183.873 1 185.027L1 191.036C1 192.426 1.86799 193.745 3.28571 194.499C5.07956 195.489 5.94755 197.28 5.42676 198.976L4.79023 201.002C4.61663 201.568 4.52983 202.157 4.52983 202.746L4.52983 510.725C4.52983 526.347 20.0669 539 39.2495 539L418.28 537.581C437.463 537.581 453 524.929 453 509.307V95.8873C453 94.1437 451.264 92.7535 449.152 92.7535C445.853 92.7535 444.06 89.5726 446.259 87.5463L451.206 82.9281H451.177ZM439.708 80.8605C439.708 82.18 439.129 83.4288 438.058 84.4184L433.545 88.636C431.548 90.4975 433.169 93.3956 436.207 93.3956C438.145 93.3956 439.708 94.668 439.708 96.2702V497.266C439.708 511.521 436.207 526.78 403.467 526.78L53.745 528.198C24.9365 528.198 17.5039 512.94 17.5039 498.685L17.5039 200.437C17.5039 199.895 17.5907 199.377 17.7354 198.858L18.3141 196.997C18.8059 195.442 18.0247 193.792 16.3755 192.897C15.0736 192.19 14.2924 190.988 14.2924 189.716V184.226C14.2924 183.166 14.8132 182.153 15.739 181.399C16.8674 180.48 17.3593 179.184 17.0989 177.911L16.1151 173.152C15.9705 172.421 15.8837 171.691 15.8837 170.96L15.8837 49.7561C15.8837 37.6922 15.8837 20.2428 52.1247 20.2428H119.192C120.928 20.2428 122.606 20.6905 123.994 25.2515C126.598 23.1174 130.128 23.2823 132.906 21.9157L134.005 25.0865C135.539 20.6198 137.304 20.2192 139.097 20.2192L403.467 18.8016C433.545 18.8016 439.708 34.0599 439.708 48.3151V80.8369V80.8605Z" fill="white" stroke="#00142D" stroke-width="2"/>
                <path d="M86.9499 1.56718C86.8305 1.53666 86.7071 1.52446 86.584 1.53097L64.3562 2.70709C63.7092 2.74132 63.2021 3.27596 63.2021 3.92392V5.8264L52.6961 2.75436C52.4251 2.67511 52.135 2.69245 51.8753 2.80342L43.6193 6.33178C43.1123 6.54843 42.814 7.07845 42.8918 7.62423L48.29 45.4952C48.3666 46.0329 48.7898 46.4549 49.3276 46.5301C49.8655 46.6053 50.3882 46.3154 50.6093 45.8194L61.308 21.817L67.939 23.4544C68.1448 23.5052 68.3602 23.5014 68.5641 23.4435L91.7445 16.8572C91.8484 16.8277 91.948 16.7844 92.0406 16.7286L105.695 8.4958C106.115 8.24215 106.343 7.76069 106.271 7.2747C106.2 6.78871 105.843 6.39323 105.367 6.27165L86.9499 1.56718Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
            </svg>
            <div class="tile-inner">
                <div class="top">
                    <img class="preload" {% if thisCollection.image.alt %} alt="{{ thisCollection.image.alt }}"{% endif %} data-preload-desktop="https:{{ thisCollection.image | image_url }}" data-preload-mobile="https:{{ thisCollection.image | image_url }}">
                    <div class="tag">{{ block.settings.tag }}</div>
                </div>
                <div class="bottom">
                    <p class="title">{{ thisCollection.handle }}</p>
                    <p class="copy">{{ thisCollection.description }}</p>
                    <button class="pink-btn"><span>Shop Now</span></button>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% comment %}<button class="pink-btn see-more"><span>SEE MORE</span></button>{% endcomment %}

{% schema %}
{
  "name": "Fifty Fifty Tiles",
  "tag": "section",
  "class": "fifty-fifty-tiles mw max-width",
  "blocks": [
    {
      "name": "Tile",
      "type": "tile",
      "settings": [
        {
          "id": "tag",
          "type": "text",
          "label": "Tag"
        },
        {
          "id": "frame",
          "type": "image_picker",
          "label": "Frame"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
