<div class="tile-wrapper">
    {% for block in section.blocks %}
    {% assign thisCollection = block.settings.collection %}
        <a class="tile" href="{{ thisCollection.url }}">
            <img class="preload frame" {% if block.settings.frame.alt %} alt="{{ block.settings.frame.alt }}"{% endif %} data-preload-desktop="https:{{ block.settings.frame | image_url }}" data-preload-mobile="https:{{ block.settings.frame | image_url }}">
            <div class="tile-inner">
                <div class="top">
                    <img class="preload" {% if thisCollection.image.alt %} alt="{{ thisCollection.image.alt }}"{% endif %} data-preload-desktop="https:{{ thisCollection.image | image_url }}" data-preload-mobile="https:{{ thisCollection.image | image_url }}">
                    <div class="tag">{{ block.settings.tag }}</div>
                </div>
                <div class="bottom">
                    <p class="title">{{ thisCollection.handle }}</p>
                    <p class="copy">{{ thisCollection.description }}</p>
                    <button class="pink-btn">Shop Now</button>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
<button class="pink-btn">SEE MORE</button>

{% schema %}
{
  "name": "Fifty Fifty Tiles",
  "tag": "section",
  "class": "fifty-fifty-tiles mw max-width",
  "blocks": [
    {
      "name": "Tile",
      "type": "tile",
      "settings": [
        {
          "id": "tag",
          "type": "text",
          "label": "Tag"
        },
        {
          "id": "frame",
          "type": "image_picker",
          "label": "Frame"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
