{% assign tags = collection.all_tags %}
{% assign tagsSize = tags | size %}

<div class="collection-hero">
    <h1>{{ section.settings.collections_header }}</h1>
    <p>{{ section.settings.collections_copy }}</p>
</div>
<div class="collection-grid mw">
    <div class="filters">
        <button class="pink-btn blue filter active" data-trigger="all"><span>all toys</span></button>
        {% for tag in tags %}
            <button class="pink-btn filter blue" data-trigger="{{ tag | handle }}"><span>{{ tag }}</span></button>
        {% endfor %}
    </div>


    <div class="filters-wrapper">
        <div class="filters-mobile drawer replace-label" data-at="767">
            <div class="filters-bg">
                <button class="label">
                    <p class="current-label">Filter By
                        <span>
                            <img src="https://cdn.shopify.com/s/files/1/0649/5646/5395/files/arrow.png?v=1691978133">
                        </span>
                    </p>
                </button>
                <div class="drawer-items">
                    <button data-trigger="all" class="filter-mobile"><span>all toys</span></button>
                    {% for tag in tags %}
                        <button data-trigger="{{ tag | handle }}" class="filter-mobile"><span>{{ tag }}</span></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <div class="grid mw">
        {% for thisProduct in collection.products %}
            <a href="{{ thisProduct.url }}" class="card-wrapper{% for tag in thisProduct.tags %} {{ tag | handle }}{% endfor %}">
                <span>
                    <svg class="svg-left" xmlns="http://www.w3.org/2000/svg" width="67" height="49" viewBox="0 0 67 49" fill="none">
                        <path d="M45.8518 1.81937C45.7323 1.78886 45.6089 1.77665 45.4858 1.78317L23.2581 2.95928C22.611 2.99352 22.1039 3.52816 22.1039 4.17612V6.0786L11.598 3.00656C11.327 2.9273 11.0368 2.94465 10.7771 3.05562L2.52113 6.58397C2.01419 6.80062 1.71586 7.33065 1.79366 7.87643L7.19182 45.7474C7.26845 46.2851 7.69164 46.7071 8.2295 46.7823C8.76735 46.8575 9.29003 46.5676 9.51114 46.0716L20.2099 22.0692L26.8408 23.7066C27.0466 23.7574 27.2621 23.7536 27.466 23.6957L50.6463 17.1094C50.7503 17.0799 50.8499 17.0366 50.9425 16.9808L64.5966 8.748C65.0173 8.49434 65.2446 8.01289 65.173 7.5269C65.1014 7.0409 64.745 6.64542 64.269 6.52385L45.8518 1.81937Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
                    </svg>
                    <svg class="svg-right" xmlns="http://www.w3.org/2000/svg" width="67" height="49" viewBox="0 0 67 49" fill="none">
                        <path d="M21.1155 1.81937C21.235 1.78886 21.3584 1.77665 21.4815 1.78317L43.7092 2.95928C44.3562 2.99352 44.8633 3.52816 44.8633 4.17612V6.0786L55.3693 3.00656C55.6403 2.9273 55.9305 2.94465 56.1901 3.05562L64.4462 6.58397C64.9531 6.80062 65.2514 7.33065 65.1736 7.87643L59.7755 45.7474C59.6988 46.2851 59.2756 46.7071 58.7378 46.7823C58.1999 46.8575 57.6773 46.5676 57.4561 46.0716L46.7574 22.0692L40.1265 23.7066C39.9207 23.7574 39.7052 23.7536 39.5013 23.6957L16.321 17.1094C16.217 17.0799 16.1174 17.0366 16.0248 16.9808L2.37064 8.748C1.94996 8.49434 1.72272 8.01289 1.79431 7.5269C1.8659 7.0409 2.22231 6.64542 2.69826 6.52385L21.1155 1.81937Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
                    </svg>
                    {% if product.metafields.accentuate.color_tag %}
                        <div class="tag" style="background: {{ product.metafields.accentuate.color_tag_color }};">{{ product.metafields.accentuate.color_tag }}</div>
                    {% endif %}
                    <div class="block">
                         <div class="img-wrapper">
                            <img class="preload-critical"{% if thisProduct.images[0].alt %} alt="{{ thisProduct.images[0].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[0] | img_url: '700x', format: 'jpg' }}" data-preload-mobile="https:{{ thisProduct.images[0] | img_url: '550x', format: 'jpg' }}">
                            {% if thisProduct.images[1] %}<img class="preload-critical"{% if thisProduct.images[1].alt %} alt="{{ thisProduct.images[1].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[1] | img_url: '700x', format: 'jpg' }}" data-preload-mobile="https:{{ thisProduct.images[1] | img_url: '550x', format: 'jpg' }}">{% endif %}
                        </div>
                        <div class="block-inner">
                            <p class="type">{{ thisProduct.type }}</p>
                            <p class="name">{{ thisProduct.title }}</p>
                            <div class="price">
                                <p>
                                    {{ thisProduct.price | money }}
                                    <strong>
                                        {% if thisProduct.compare_at_price %}{{ thisProduct.compare_at_price | money }}{% endif %}
                                    </strong>
                                </p>
                            </div>
                            <button class="pink-btn">
                                <span>Shop Now
                                    <img src="https://cdn.shopify.com/s/files/1/0649/5646/5395/files/Vector.png?v=1691970255">
                                </span>
                            </button>
                        </div>
                    </div>
                </span>
            </a>
        {% endfor %}
        <div class="card-wrapper dummy"></div>
        <div class="card-wrapper dummy"></div>
    </div>
</div>

{% schema %}
{
"name": "Collection Categories",
"tag": "section",
"class": "collection-wrapper mw tabs-inside c-24",
"settings": [
{
"id": "collections_header",
"type": "text",
"label": "Collections Header"
},
{
"id": "collections_copy",
"type": "text",
"label": "Collections Copy"
}
]
}
{% endschema %}
