<h2>{{ section.settings.heading }}</h2>
<div class="inner">
  {% assign thisCollection = collections.all %}
  {% assign placed = 0 %}
  {% for thisProduct in thisCollection.products limit: 4 %}
    {% assign thisType = thisProduct.type %}
    {% assign thisTitle = thisProduct.title %}
    {% if thisType == product.type and thisTitle != product.title %}
      <a href="{{ thisProduct.url }}" class="product-tile">
        <div class="img-wrapper">
          <img class="preload bg"{% if thisProduct.images[0].alt %} alt="{{ thisProduct.images[0].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[0] | image_url }}" data-preload-mobile="https:{{ thisProduct.images[0] | image_url }}">
          <img class="preload bg"{% if thisProduct.images[1].alt %} alt="{{ thisProduct.images[1].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[1] | image_url }}" data-preload-mobile="https:{{ thisProduct.images[1] | image_url }}">
        </div>
        <p class="item-name">{{ thisProduct.title }}</p>
        <span class="item-price">
            {{ thisProduct.price | money }}
            <p class="compare-at-price{% if thisProduct.compare_at_price %} visible{% endif %}">{% if thisProduct.compare_at_price %}{{ thisProduct.compare_at_price | money }}{% endif %}</p>
        </span>
      </a>
      {% assign placed = placed | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% if placed < 4 %}
    {% assign missingAmount = 4 | minus: placed %}
    {% for thisProduct in thisCollection.products %}
      {% assign thisTitle = thisProduct.title %}
      {% assign thisType = thisProduct.type %}
      {% unless thisTitle == product.title or thisType == product.type %}
        <a href="{{ thisProduct.url }}" class="product-tile">
          <div class="img-wrapper">
            <img class="preload bg"{% if thisProduct.images[0].alt %} alt="{{ thisProduct.images[0].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[0] | image_url }}" data-preload-mobile="https:{{ thisProduct.images[0] | image_url }}">
            <img class="preload bg"{% if thisProduct.images[1].alt %} alt="{{ thisProduct.images[1].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[1] | image_url }}" data-preload-mobile="https:{{ thisProduct.images[1] | image_url }}">
          </div>
          <p class="item-name">{{ thisProduct.title }}</p>
          <span class="item-price">
            {{ thisProduct.price | money }}
            <p class="compare-at-price{% if thisProduct.compare_at_price %} visible{% endif %}">{% if thisProduct.compare_at_price %}{{ thisProduct.compare_at_price | money }}{% endif %}</p>
          </span>
        </a>
        {% assign missingAmount = missingAmount | minus: 1 %}
        {% if missingAmount == 0 %}
          {% break %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "PDP Product Recirculation",
  "tag": "section",
  "class": "pdp-recirc c-24 mw",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    }
  ]
}
{% endschema %}
