
<div class="max-width pdp-hero-inner">
    <div class="left">
        {% assign imageSize = product.images | size %}
        <div class="slider no-drag-free" data-align="start">
            <div class="frame">
                {% if product.metafields.accentuate.ribbon %}
                    {% for ribbon in product.metafields.accentuate.ribbon %}
                        {% comment %}<img class="preload-critical ribbon" data-preload-desktop="{{ ribbon.src }}" data-preload-mobile="{{ ribbon.src }}">{% endcomment %}
                    {% endfor %}
                {% endif %}
                <div class="slides">
                    <div class="inner">
                        {% for image in product.images limit: 4 %}
                            <div class="slide">
                                <div class="frame-mobile"></div>
                                <img class="preload-critical"{% if image.alt %} alt="{{ image.alt }}"{% endif %} data-preload-desktop="https:{{ image | image_url }}" data-preload-mobile="https:{{ image | image_url }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if imageSize > 1 %}
                <div class="thumbnails dots">
                    {% for image in product.images limit: 4 %}
                        <div class="thumbnail dot{% if forloop.first %} active{% endif %}">
                            <img class="preload-critical bg"{% if image.alt %} alt="{{ image.alt }}"{% endif %} data-preload-desktop="https:{{ image | image_url }}" data-preload-mobile="https:{{ image | image_url }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="right">
        <p class="eyebrow">{{ product.type }}</p>
        <h1>{{ product.title }}</h1>
        <div class="price-wrapper">
            <p class="price">{{ product.price | money }}</p>
            <p class="old-price compare-at-price">{% if product.first_available_variant.compare_at_price %}{{ product.first_available_variant.compare_at_price | money }}<span><svg width="58" height="28" viewBox="0 0 58 28" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="1.38793" y1="26.7724" x2="55.7664" y2="1.41531" stroke="#EF928E" stroke-width="2"/><line x1="2.23317" y1="1.41498" x2="56.6116" y2="26.7721" stroke="#EF928E" stroke-width="2"/></svg></span>{% endif %}</p>
        </div>

        {% comment %}<div class="after-pay desktop-only">{% endcomment %}
            {% comment %}<p>Or 4-interest free payments of <strong>$6.99 </strong>with</p><img class="preload" src="https://images.prismic.io/pudgypenguinsshop/acd79ef5-7945-4a3a-93cd-36a1aefd54a5_afterpay.png?auto=compress,format">{% endcomment %}
        {% comment %}</div>{% endcomment %}
        {% comment %}<div class="after-pay mobile-only">{% endcomment %}
            {% comment %}<p>Or 4-interest free payments with</p><img class="preload" src="https://images.prismic.io/pudgypenguinsshop/acd79ef5-7945-4a3a-93cd-36a1aefd54a5_afterpay.png?auto=compress,format">{% endcomment %}
        {% comment %}</div>{% endcomment %}
        <div class="copy">{{ product.description }}</div>
        {% if product.metafields.accentuate.attribute %}
        <div class="variant-wrapper mw">
            <svg class="bg" width="485" height="55" preserveAspectRatio="none" viewBox="0 0 485 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_1130_7248)">
                    <path d="M4.27328 0.582371C4.60688 0.411765 4.97503 0.320584 5.34884 0.315989L31.0554 2.92739e-10H61.1851H91.3147L106.376 0.538293L121.444 2.92739e-10H241.963H362.482H392.611L407.673 0.538293L422.741 2.92739e-10H452.871H465.637L480.638 0.466168C481.934 0.50646 482.962 1.5629 482.967 2.86024L482.973 4.6024L482.947 9.20481L482.893 18.4096L482.793 35.4344L482.744 43.9468L482.719 48.203L482.715 48.9354C482.71 49.7991 482.244 50.5973 481.494 51.0293L480.035 51.8691C479.672 52.078 479.262 52.1897 478.845 52.1933L452.565 52.4253L422.435 52.3914L392.306 52.3574L362.176 52.3235L332.047 52.1877L301.917 52.2556L241.658 52.1877L121.138 52.4593H91.0086L60.8806 52.1877L30.7493 52.4593L8.33667 51.8076L3.26003 52.2386C1.8575 52.3577 0.656726 51.2596 0.651106 49.8528L0.644515 48.203L0.66935 43.9468L0.71902 35.4344L0.81836 18.4096L0.872071 9.20481L0.898926 4.6024L0.903733 3.77858C0.909025 2.87159 1.4214 2.04087 2.23083 1.62691L4.27328 0.582371Z" fill="url(#paint0_linear_1130_7248)"/>
                    <path d="M106.356 1.02163L106.374 1.02225L106.391 1.02163L121.45 0.483645H241.96H362.479H392.6H392.608L407.653 1.02163L407.67 1.02225L407.687 1.02163L422.738 0.483645H422.747H452.868H465.627H465.634L480.62 0.94958C481.657 0.981813 482.479 1.82697 482.483 2.86484L482.49 4.6024L482.49 4.607L482.463 9.20481L482.409 18.4096L482.31 35.4344L482.26 43.9468L482.235 48.203L482.231 48.9354C482.227 49.6264 481.855 50.2649 481.254 50.6106L479.796 51.4504C479.506 51.6174 479.178 51.7068 478.844 51.7097L452.568 51.9417L452.566 51.9417L422.439 51.9077L392.309 51.8738L362.181 51.8398L362.18 51.8398L332.052 51.7041L332.049 51.7041L301.921 51.772L301.919 51.772L241.662 51.7041L241.66 51.7041L121.141 51.9756L121.14 51.9756L91.0137 51.9756H91.0115L60.8878 51.7041L60.8878 51.704L60.879 51.7041L30.7569 51.9755L8.35355 51.3241L8.32601 51.3233L8.29855 51.3257L3.2219 51.7567C2.09988 51.852 1.13926 50.9735 1.13476 49.8481L1.12817 48.203L1.12818 48.2007L1.153 43.9468L1.20267 35.4344L1.30201 18.4096L1.35572 9.20481L1.38258 4.6024L1.38739 3.77858C1.39162 3.05299 1.80152 2.38841 2.44906 2.05724L4.49152 1.0127C4.75839 0.876218 5.05292 0.803274 5.35196 0.799598L31.0556 0.483645H61.1823H91.3033L106.356 1.02163Z" stroke="#00142D" stroke-width="0.967307" vector-effect="non-scaling-stroke"/>
                </g>
                <defs>
                    <filter id="filter0_d_1130_7248" x="0.644531" y="0" width="484.264" height="54.3941" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="1.93461" dy="1.93461"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1130_7248"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1130_7248" result="shape"/>
                    </filter>
                    <linearGradient id="paint0_linear_1130_7248" x1="-0.467146" y1="-0.142229" x2="211.19" y2="266.924" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#C1ECFF"/>
                        <stop offset="0.25" stop-color="#C1ECFF"/>
                        <stop offset="0.381662" stop-color="white"/>
                        <stop offset="0.608286" stop-color="#C2ECFF"/>
                        <stop offset="1" stop-color="#C1ECFF"/>
                    </linearGradient>
                </defs>
            </svg>
            <div class="left-variant variant">
                {% for attribute in product.metafields.accentuate.attribute[0] %}
                    <p>{{ attribute }}</p>
                {% endfor %}
                {% for attribute_value in product.metafields.accentuate.attribute_value[0] %}
                    <p>{{ attribute_value }}</p>
                {% endfor %}
            </div>
            <div class="right-variant variant">
                {% for attribute in product.metafields.accentuate.attribute[1] %}
                    <p>{{ attribute }}</p>
                {% endfor %}
                {% for attribute_value in product.metafields.accentuate.attribute_value[1] %}
                    <p>{{ attribute_value }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="atc-wrapper" id="atc-wrapper">
            <div class="option-wrapper">
                {% if product.has_only_default_variant == false  %}
                    <div class="options">
                        {% for option in product.options_with_values %}
                            {% for value in option.values %}
                                <button class="option{% if forloop.first %} active{% endif %}" data-value="{{ value }}"><span>{{ value }}</span></button>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if product.metafields.accentuate.store_locator %}
                <div class="atc-form-walmart">
                    <a href="/pages/store-locator" class="pink-btn add-to-cart" type="button">
                        <span class="in-stock">
                            Find Store
                            <img src="https://cdn.shopify.com/s/files/1/0649/5646/5395/files/Vector.png?v=1691970255">
                        </span>
                    </a>
                </div>
            {% else %}
                <form class="atc-form">
                    <div class="quantity increment-wrapper">
                        <button type="button" class="decrease">-</button>
                        <span class="count">1</span>
                        <button type="button" class="increase">+</button>
                    </div>
                    <button class="pink-btn add-to-cart{% unless product.available %} disabled{% endunless %}"
                            data-id="{{ product.first_available_variant.id }}"
                            data-variants="{% for variant in product.variants %}{% if forloop.last == true %}{{ variant.id }}||{{ variant.title }}||{{ variant.price }}||{% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}false{% endif %}||{% if variant.image != blank %}{{ variant.image |  image_url }}{% else %}false{% endif %}||{{ variant.available }}{% else %}{{ variant.id }}||{{ variant.title }}||{{ variant.price }}||{% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}false{% endif %}||{% if variant.image != blank %}{{ variant.image |  image_url }}{% else %}false{% endif %}||{{ variant.available }}|||{% endif %}{% endfor %}"
                            type="submit">
                    <span class="in-stock">
                        Add To Cart
                        <img src="https://cdn.shopify.com/s/files/1/0649/5646/5395/files/Vector.png?v=1691970255">
                    </span>
                        <span class="out-of-stock">Sold out</span>
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="drawers-wrapper">
            {% for title in product.metafields.accentuate.drawer_title %}
                <div class="col drawer detail-drawer">
                    <div class="label">{{ title }}
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                              <g filter="url(#filter0_d_1769_3223)">
                                <path d="M11.6988 25.551V17.0862H3.55957V9.92374H11.6988V1.45898H18.8612V9.92374H27.0004V17.0862H18.8612V25.551H11.6988Z" fill="white"/>
                                <path d="M11.2292 25.551V26.0205H11.6988H18.8612H19.3308V25.551V17.5558H27.0004H27.47V17.0862V9.92374V9.45417H27.0004H19.3308V1.45898V0.989416H18.8612H11.6988H11.2292V1.45898V9.45417H3.55957H3.09V9.92374V17.0862V17.5558H3.55957H11.2292V25.551Z" stroke="#00142D" stroke-width="0.939137"/>
                              </g>
                              <defs>
                                <filter id="filter0_d_1769_3223" x="0.620117" y="0.52002" width="27.3193" height="27.9702" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                  <feOffset dx="-2" dy="2"/>
                                  <feComposite in2="hardAlpha" operator="out"/>
                                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.0784314 0 0 0 0 0.176471 0 0 0 1 0"/>
                                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1769_3223"/>
                                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1769_3223" result="shape"/>
                                </filter>
                              </defs>
                            </svg>
                        </span>
                    </div>
                    <div class="drawer-items drawer-text">
                        {{ product.metafields.accentuate.drawer_content[forloop.index0] }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% schema %}
{
"name": "PDP Hero",
"tag": "section",
"class": "pdp-hero mw",
"settings": [
{
"id": "variant_ice_block",
"type": "image_picker",
"label": "Variant Ice Block"
}
]
}
{% endschema %}
