<div class="top">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.copy }}</p>
</div>
<div class="best-sellers-wrapper slider no-drag-free no-loop no-loop-mobile" data-at="767" data-align="center">
    <div class="slides">
            <div class="inner">
                {% assign thisCollection = collections.shop-all %}
                {% assign productsToShow = 3 %}
                {% assign count = 0 %}
                {% for thisProduct in thisCollection.products %}
                    {% assign thisTag = thisProduct.tags[0] %}
                    {% assign thisTitle = thisProduct.title %}
                    {% if count < productsToShow %}
                        {% if thisTag == product.tags[0] and thisTitle != product.title  %}
                                <a href="/products/{{ thisProduct.handle }}" class="slide card-wrapper">
                                    <span>
                                          <svg class="svg-left" xmlns="http://www.w3.org/2000/svg" width="67" height="49" viewBox="0 0 67 49" fill="none">
                                                <path d="M45.8518 1.81937C45.7323 1.78886 45.6089 1.77665 45.4858 1.78317L23.2581 2.95928C22.611 2.99352 22.1039 3.52816 22.1039 4.17612V6.0786L11.598 3.00656C11.327 2.9273 11.0368 2.94465 10.7771 3.05562L2.52113 6.58397C2.01419 6.80062 1.71586 7.33065 1.79366 7.87643L7.19182 45.7474C7.26845 46.2851 7.69164 46.7071 8.2295 46.7823C8.76735 46.8575 9.29003 46.5676 9.51114 46.0716L20.2099 22.0692L26.8408 23.7066C27.0466 23.7574 27.2621 23.7536 27.466 23.6957L50.6463 17.1094C50.7503 17.0799 50.8499 17.0366 50.9425 16.9808L64.5966 8.748C65.0173 8.49434 65.2446 8.01289 65.173 7.5269C65.1014 7.0409 64.745 6.64542 64.269 6.52385L45.8518 1.81937Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
                                            </svg>
                                            <svg class="svg-right" xmlns="http://www.w3.org/2000/svg" width="67" height="49" viewBox="0 0 67 49" fill="none">
                                                <path d="M21.1155 1.81937C21.235 1.78886 21.3584 1.77665 21.4815 1.78317L43.7092 2.95928C44.3562 2.99352 44.8633 3.52816 44.8633 4.17612V6.0786L55.3693 3.00656C55.6403 2.9273 55.9305 2.94465 56.1901 3.05562L64.4462 6.58397C64.9531 6.80062 65.2514 7.33065 65.1736 7.87643L59.7755 45.7474C59.6988 46.2851 59.2756 46.7071 58.7378 46.7823C58.1999 46.8575 57.6773 46.5676 57.4561 46.0716L46.7574 22.0692L40.1265 23.7066C39.9207 23.7574 39.7052 23.7536 39.5013 23.6957L16.321 17.1094C16.217 17.0799 16.1174 17.0366 16.0248 16.9808L2.37064 8.748C1.94996 8.49434 1.72272 8.01289 1.79431 7.5269C1.8659 7.0409 2.22231 6.64542 2.69826 6.52385L21.1155 1.81937Z" fill="white" stroke="#00142D" stroke-width="2.43707" stroke-linejoin="round"/>
                                            </svg>

                                            {% if thisProduct.tags[0] == 'LIMITED EDITION' %}
                                                <div class="tag" style="background: #FFE092;">{{ thisProduct.tags[0] }}</div>
                                            {% elsif thisProduct.tags[0] == 'ON SALE!' %}
                                                <div class="tag" style="background: #FF8B8B;">{{ thisProduct.tags[0] }}</div>
                                            {% endif %}

                                        <div class="block">
                                            <div class="img-wrapper">
                                                <img class="preload bg"{% if thisProduct.images[0].alt %} alt="{{ thisProduct.images[0].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[0] | img_url: '700x', format: 'jpg' }}" data-preload-mobile="https:{{ thisProduct.images[0] | img_url: '550x', format: 'jpg' }}">
                                                <img class="preload bg"{% if thisProduct.images[1].alt %} alt="{{ thisProduct.images[1].alt }}"{% endif %} data-preload-desktop="https:{{ thisProduct.images[1] | img_url: '700x', format: 'jpg' }}">
                                            </div>
                                            <div class="block-inner">
                                                <p class="type">{{ thisProduct.type }}</p>
                                                <p class="name">{{ thisProduct.title }}</p>
                                                <div class="price">
                                                    <p>
                                                        {{ thisProduct.price | money }}
                                                        <strong>
                                                            {% if thisProduct.compare_at_price %}{{ thisProduct.compare_at_price | money }}{% endif %}
                                                        </strong>
                                                    </p>
                                                </div>
                                                <button class="pink-btn">Add To Cart
                                                    <span>
                        <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_1130_7264)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.38927 8.61189H6.74035V7.21661C6.74035 4.04146 9.17416 1.45947 12.1331 1.45947C15.092 1.45947 17.4982 4.04169 17.4982 7.21661V8.61189H20.3189C21.0381 8.61189 21.6191 9.2354 21.6191 10.0072V18.4946C21.6191 21.7595 19.13 24.4595 16.0605 24.4595H8.31668C5.1912 24.4595 2.61914 21.6995 2.61914 18.3456V10.5104C2.61914 9.47182 3.42124 8.61111 4.3891 8.61111L4.38927 8.61189ZM9.20181 8.61189H15.0376V7.21661C15.0376 5.52485 13.7097 4.1008 12.134 4.1008C10.5298 4.1008 9.20266 5.52572 9.20266 7.21661V8.61189H9.20181Z" fill="#F5FDFF"/>
                            <path d="M20.3189 8.11189H17.9982V7.21661C17.9982 3.79936 15.4008 0.959473 12.1331 0.959473C8.86861 0.959473 6.24035 3.79567 6.24035 7.21661V8.11189H4.79148L4.79131 8.11111H4.3891C3.11247 8.11111 2.11914 9.22947 2.11914 10.5104V18.3456C2.11914 21.9418 4.88243 24.9595 8.31668 24.9595H16.0605C19.4403 24.9595 22.1191 22.0002 22.1191 18.4946V10.0072C22.1191 8.99305 21.3469 8.11189 20.3189 8.11189ZM14.5376 8.11189H9.70266V7.21661C9.70266 5.77114 10.8357 4.6008 12.134 4.6008C13.401 4.6008 14.5376 5.76728 14.5376 7.21661V8.11189Z" stroke="#00142D"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_1130_7264" x="0.619141" y="0.459473" width="22" height="26" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dx="-1" dy="1"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.0784314 0 0 0 0 0.176471 0 0 0 1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1130_7264"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1130_7264" result="shape"/>
                            </filter>
                            </defs>
                        </svg>
                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </span>
                                </a>
                            {% assign count = count | plus: 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
</div>






{% schema %}
    {
        "name": "Product Recirculation",
        "tag": "section",
        "class": "best-sellers mw max-width",
        "settings": [
            {
                "id": "heading",
                "type": "text",
                "label": "Heading"
            },
            {
                "id": "copy",
                "type": "text",
                "label": "Copy"
            }
        ]
    }
{% endschema %}
