<div class="mini-cart-backdrop" id="mini-cart-backdrop"></div>
<div class="mini-cart" id="mini-cart">
    <button id="nav-close" class="nav-close">
        <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.9453 11.7129L32.2593 32.0268" stroke="#33336C" stroke-width="3" stroke-linecap="round"/>
            <path d="M12.6875 31.3198L33.0014 11.0059" stroke="#33336C" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </button>
    <div class="top"><p>Cart</p></div>
    <div class="shipping-bar" id="shipping-bar">
        <div class="shipping-messages">
            <p id="shipping-note-one">{{ settings.shipping_threshold_note }}</p>
            <p id="shipping-note-two">{{ settings.shipping_threshold_success }}</p>
        </div>
        <div class="track"><span id="shipping-meter-bar" class="shipping-meter-bar" data-threshold="{{ settings.shipping_threshold }}"></span></div>
    </div>
    <div class="inner-wrapper">
        <div class="inner c-24 products-wrapper" id="products-wrapper">
        </div>
        <div class="mini-cart-recirc mw">
            <p>Frequently purchased Together</p>
            {% assign thisCollection = collections.all %}
            {% assign placed = 0 %}
            {% for thisProduct in thisCollection.products %}
                {% assign thisType = thisProduct.type %}
                {% assign thisTitle = thisProduct.title %}
                {% if thisType == product.type and thisTitle != product.title %}
                    <form data-id="{{ product.first_available_variant.id }}" data-variants="{% for variant in product.variants %}{% if forloop.last == true %}{{ variant.id }}||{{ variant.title }}||{{ variant.price }}||{% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}false{% endif %}||{% if variant.image != blank %}{{ variant.image |  image_url }}{% else %}false{% endif %}||{{ variant.available }}{% else %}{{ variant.id }}||{{ variant.title }}||{{ variant.price }}||{% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}false{% endif %}||{% if variant.image != blank %}{{ variant.image |  image_url }}{% else %}false{% endif %}||{{ variant.available }}|||{% endif %}{% endfor %}" type="submit">
                        <div class="img-wrapper">
                            <img class="preload"{% if thisProduct.images[0].alt %} alt="{{ thisProduct.images[0].alt }}"{% endif %} src="https:{{ thisProduct.images[0] | image_url }}" data-preload-mobile="https:{{ thisProduct.images[0] | image_url }}">
                        </div>
                        <div class="text-wrapper">
                            <p>{{ thisProduct.title }}</p>
                            <span>{{ thisProduct.price | money }}</span>
                        </div>
                        <div class="pink-btn"><span>Add</span></div>
                    </form>
                    {% assign placed = placed | plus: 1 %}
                {% endif %}
            {% endfor %}

        </div>
        <div class="bottom c-24">
            <div class="subtotal bottom-line">
                <p>Subtotal</p>
                <p id="mini-cart-total">$29.99</p>
            </div>
            <form action="/cart" method="post">
                <button class="pink-btn checkout-btn" id="checkout-btn" name="checkout">
                    <span>Checkout</span>
                </button>
            </form>
            {% comment %}<div class="bottom-benefits">{% endcomment %}
                {% comment %}<p>Or 4-interest free payments of <strong>$6.99</strong> with</p>{% endcomment %}
            {% comment %}</div>{% endcomment %}
        </div>
    </div>

    <div class="empty-wrapper" id="empty-wrapper">
        <p>Your cart is empty</p>
        <a class="pink-btn" href="/collections/all"><span>Start Shopping</span></a>
    </div>
</div>
